# THIS NOTEBOOK HAS MINIMUM COMMENTING/MARKDOWN BECAUSE I HAD TO RECREATE IT THIS MORNING

In [1]:
import numpy as np
import pandas as pd


# pd.set_option('max_columns', None)
# pd.set_option('max_rows', None)

In [2]:
#Import datasets of each hotel brand

a = pd.read_csv('./Data/final_hilton.csv')
a = a.drop(['Unnamed: 0'], axis=1)
b = pd.read_csv('./Data/final_hyatt.csv')
b = b.drop(['Unnamed: 0'], axis=1)
c = pd.read_csv('./Data/final_ihg.csv')
c = c.drop(['Unnamed: 0'], axis=1)
d = pd.read_csv('./Data/final_marriott.csv')
d = d.drop(['Unnamed: 0'], axis=1)
e = pd.read_csv('./Data/final_radisson.csv')
e = e.drop(['Unnamed: 0'], axis=1)
f = pd.read_csv('./Data/final_wyndham.csv')
f = f.drop(['Unnamed: 0'], axis=1)

In [3]:
# check the columns for each dataframe

print(a.columns)
print('='*50)
print(b.columns)
print('='*50)
print(c.columns)
print('='*50)
print(d.columns)
print('='*50)
print(e.columns)
print('='*50)
print(f.columns)
print('='*50)

Index(['name', 'description', 'streetAddress', 'addressLocality',
       'addressRegion', 'addressCountry', 'postalCode', 'url', 'latitude',
       'longitude', 'rating', 'brand'],
      dtype='object')
==================================================
Index(['name', 'url', 'street', 'city', 'state', 'postal', 'description',
       'rating'],
      dtype='object')
==================================================
Index(['name', 'description', 'url', 'street', 'locality', 'region',
       'postalcode', 'address3', 'rating', 'brand'],
      dtype='object')
==================================================
Index(['brand', 'name', 'url', 'street', 'locality', 'state', 'postalcode',
       'coordinate1', 'coordinate2', 'coordinate3', 'coordinate4',
       'description', 'overall_rating', 'cleanliness_rating',
       'service_rating'],
      dtype='object')
==================================================
Index(['name', 'url', 'street', 'locality', 'state', 'postal', 'description',
       'rating'],
      dtype='object')
==================================================
Index(['name', 'url', 'street', 'city', 'state', 'postal', 'description',
       'rating'],
      dtype='object')
==================================================

## Rename, remove, and create columns in all the datasets so that they match each other

In [4]:
e = e.rename(columns={"locality": "city"})

In [5]:
d = d.drop(['coordinate1', 'coordinate2', 'coordinate3', 'coordinate4', 'overall_rating', 'cleanliness_rating'], axis=1)

In [6]:
d = d.rename(columns={'service_rating' : 'rating', 'postalcode' : 'postal', 'locality' : 'city'})

In [7]:
c = c.rename(columns={'postalcode' : 'postal', 'region' : 'state', 'locality' : 'city'})

In [8]:
c = c.drop(['address3'], axis=1)

In [9]:
a = a.rename(columns={'streetAddress' : 'street', 'addressLocality' : 'city',
       'addressRegion' : 'state', 'postalCode' : 'postal'})

In [10]:
a = a.drop(['addressCountry', 'latitude', 'longitude'], axis=1)

In [11]:
b['brand'] = ''

In [12]:
# creating brand columns for Hyatt dataframe

for index, row in b.iterrows():
    if 'Hyatt Place' in row['name']:
        b['brand'][index] = 'Hyatt Place'
    elif 'Hyatt House' in row['name']:
        b['brand'][index] = 'Houte House'
    elif 'Hyatt Regency' in row['name']:
        b['brand'][index] = 'Hyatt Regency'
    elif 'Grand Hyatt' in row['name']:
        b['brand'][index] = 'Grand Hyatt'
    elif 'Park Hyatt' in row['name']:
        b['brand'][index] = 'Park Hyatt'
    elif 'Andaz' in row['name']:
        b['brand'][index] = 'Andaz'
    elif 'Thompson' in row['name']:
        b['brand'][index] = 'Thompson'
    elif 'Centric' in row['name']:
        b['brand'][index] = 'Hyatt Centric'
    elif 'miraval' in row['url']:
        b['brand'][index] = 'MiRaval'
    elif 'jdv-' in row['url']:
        b['brand'][index] = 'Joie De Vivre'
    elif 'hyatt-' in row['url']:
        b['brand'][index] = 'Hyatt'
    else:
        b['brand'][index] = 'Destination or Unbound'

In [13]:
b['brand'].value_counts()

Hyatt Place               323
Houte House               100
Hyatt Regency              97
Destination or Unbound     97
Hyatt Centric              22
Hyatt                      20
Joie De Vivre              16
Grand Hyatt                13
Andaz                       9
Thompson                    7
Park Hyatt                  6
MiRaval                     3
Name: brand, dtype: int64

In [14]:
e['brand'] = ''

In [15]:
# creating brand column for Radisson Dataframe

for index, row in e.iterrows():
    if 'Country Inn' in row['name']:
        e['brand'][index] = 'Country Inn & Suites'
    elif 'Park Inn' in row['name']:
        e['brand'][index] = 'Park Inn'
    elif 'Park Plaza' in row['name']:
        e['brand'][index] = 'Park Plaza'
    else:
        e['brand'][index] = 'Radisson'

In [16]:
e['brand'].value_counts()

Country Inn & Suites    446
Radisson                 81
Park Inn                  6
Name: brand, dtype: int64

In [17]:
f['brand'] = ''

In [18]:
# creating brand column for Wyndham dataframe

for index, row in f.iterrows():
    if 'Hawthorn' in row['name']:
        f['brand'][index] = 'Hawthorn Suites'
    elif 'Travelodge' in row['name']:
        f['brand'][index] = 'Travelodge'
    elif 'Howard Johnson' in row['name']:
        f['brand'][index] = 'Howard Johnson'
    elif 'Super 8' in row['name']:
        f['brand'][index] = 'Super 8'
    elif 'Days Inn' in row['name']:
        f['brand'][index] = 'Days Inn'
    elif 'Microtel' in row['name']:
        f['brand'][index] = 'Microtel'
    elif 'Ramada' in row['name']:
        f['brand'][index] = 'Ramada'
    elif 'AmericInn' in row['name']:
        f['brand'][index] = 'AmericInn'
    elif 'Wyndham Garden' in row['name']:
        f['brand'][index] = 'Wyndham Garden'
    elif 'Wingate' in row['name']:
        f['brand'][index] = 'Wingate'
    elif 'La Quinta' in row['name']:
        f['brand'][index] = 'La Quinta'
    elif 'Trademark' in row['name']:
        f['brand'][index] = 'Trademark'
    elif 'Dazzler' in row['name']:
        f['brand'][index] = 'Dazzler'
    elif 'Esplendor' in row['name']:
        f['brand'][index] = 'Esplendor'
    elif 'Tryp' in row['name']:
        f['brand'][index] = 'TRYP'
    elif 'TRYP' in row['name']:
        f['brand'][index] = 'TRYP'
    elif 'Dolce' in row['name']:
        f['brand'][index] = 'Dolce'
    elif 'Wyndham Grand' in row['name']:
        f['brand'][index] = 'Wyndham Grand'
    elif 'Club Wyndham' in row['name']:
        f['brand'][index] = 'Club Wyndham'
    elif 'Worldmark' in row['name']:
        f['brand'][index] = 'Worldmark'
    elif 'Margaritaville' in row['name']:
        f['brand'][index] = 'Margaritaville'
    elif 'Caesars' in row['name']:
        f['brand'][index] = 'Caesars'
    elif 'Harrahs' in row['name']:
        f['brand'][index] = 'Harrahs'
    elif 'Horseshoe' in row['name']:
        f['brand'][index] = 'Horseshoe'
    elif 'Cromwell' in row['name']:
        f['brand'][index] = 'The Cromwell'
    elif 'Bally' in row['name']:
        f['brand'][index] = "Bally's"
    elif 'Flamingo' in row['name']:
        f['brand'][index] = 'Flamingo'
    elif 'Linq' in row['name']:
        f['brand'][index] = 'The LINQ'
    elif 'NOBU' in row['name']:
        f['brand'][index] = 'NOBU'
    elif 'Paris' in row['name']:
        f['brand'][index] = "Paris"
    elif 'Planet Hollywood' in row['name']:
        f['brand'][index] = 'Planet Hollywood'
    elif 'Rio' in row['name']:
        f['brand'][index] = 'Rio'
    elif 'Baymont' in row['name']:
        f['brand'][index] = 'Baymont'
    elif 'Days' in row['name']:
        f['brand'][index] = 'Days Inn'
    elif 'wyndham-vacations' in row['url']:
        f['brand'][index] = 'Wyndham Vacations'
    else:
        f['brand'][index] = 'Wyndham'

In [19]:
f['brand'].value_counts()

Super 8              1474
Days Inn             1375
La Quinta             888
Baymont               501
Travelodge            335
Ramada                316
Microtel              291
AmericInn             199
Wingate               163
Howard Johnson        159
Hawthorn Suites       101
Wyndham Vacations      81
Wyndham Garden         67
Club Wyndham           67
Wyndham                49
Trademark              41
Wyndham Grand          18
TRYP                    9
Caesars                 4
Paris                   2
Horseshoe               2
Dolce                   2
Planet Hollywood        1
Flamingo                1
Bally's                 1
The Cromwell            1
Name: brand, dtype: int64

In [20]:
# creating a rewards column for each dataframe

a['rewards'] = 'Hilton'
b['rewards'] = 'Hyatt'
c['rewards'] = 'IHG'
d['rewards'] = 'Marriott'
e['rewards'] = 'Radisson'
f['rewards'] = 'Wyndham'

In [21]:
# reorganizing columns

a= a[['rewards', 'brand', 'name', 'rating', 'description', 'street', 'city', 'state', 'postal', 'url']]
b= b[['rewards', 'brand', 'name', 'rating', 'description', 'street', 'city', 'state', 'postal', 'url']]
c= c[['rewards', 'brand', 'name', 'rating', 'description', 'street', 'city', 'state', 'postal', 'url']]
d= d[['rewards', 'brand', 'name', 'rating', 'description', 'street', 'city', 'state', 'postal', 'url']]
e= e[['rewards', 'brand', 'name', 'rating', 'description', 'street', 'city', 'state', 'postal', 'url']]
f= f[['rewards', 'brand', 'name', 'rating', 'description', 'street', 'city', 'state', 'postal', 'url']]

In [22]:
# merge all dataframes into large dataframe

merged_hotels = pd.concat([a, b, c, d, e, f], ignore_index=True)

## Cleaning the State Column

In [23]:
merged_hotels['state'].value_counts()

TX                                              1132
CA                                               748
FL                                               680
TEXAS                                            612
CALIFORNIA                                       584
                                                ...
California9                                        1
Pennsylvania17011                                  1
New York 1483                                      1
                                        La C       1
<span class="property-Maine</span>                 1
Name: state, Length: 217, dtype: int64

In [24]:
# creating all upper versions of state in and creating a new column
newstate = []
for x in merged_hotels['state']:
    try:
        x = x.upper()
        newstate.append(x)
    except:
        newstate.append(x)
merged_hotels['state'] = newstate

In [25]:
merged_hotels['state'].value_counts()

TEXAS                                           1161
TX                                              1132
CALIFORNIA                                       875
FLORIDA                                          795
CA                                               748
                                                ...
<SPAN CLASS="PROPERTY-ARIZONA</SPAN>               1
ILLINOIS61036                                      1
<SPAN CLASS="PROPERTY-WISCONSIN</SPAN>             1
                                        CHAR       1
<SPAN CLASS="PROPERTY-NORTH CAROLINA</SPAN>        1
Name: state, Length: 166, dtype: int64

In [26]:
statereplace = {'ALABAMA' : 'AL',
'ALASKA' : 'AK',
'ARIZONA' : 'AZ',
'ARKANSAS' : 'AR',
'CALIFORNIA' : 'CA',
'COLORADO' : 'CO',
'CONNECTICUT' : 'CT',
'DELAWARE' : 'DE',
'DISTRICT OF COLUMBIA' : 'DC',
'FLORIDA' : 'FL',
'GEORGIA' : 'GA',
'HAWAII' : 'HI',
'IDAHO' : 'ID',
'ILLINOIS' : 'IL',
'INDIANA' : 'IN',
'IOWA' : 'IA',
'KANSAS' : 'KS',
'KENTUCKY' : 'KY',
'LOUISIANA' : 'LA',
'MAINE' : 'ME',
'MARYLAND' : 'MD',
'MASSACHUSETTS' : 'MA',
'MICHIGAN' : 'MI', 
'MINNESOTA' : 'MN',
'MISSISSIPPI' : 'MS',
'MISSOURI' : 'MO',
'MONTANA' : 'MT',
'NEBRASKA' : 'NE',
'NEVADA' : 'NV',
'NEW HAMPSHIRE' : 'NH',
'NEW JERSEY' : 'NJ',
'NEW MEXICO' : 'NM', 
'NEW YORK' : 'NY',
'NORTH CAROLINA' : 'NC',
'NORTH DAKOTA' : 'ND',
'OHIO' : 'OH',
'OKLAHOMA' : 'OK',
'OREGON' : 'OR',
'PENNSYLVANIA' : 'PA',
'RHODE ISLAND' : 'RI',
'SOUTH CAROLINA' : 'SC',
'SOUTH DAKOTA' : 'SD',
'TENNESSEE' : 'TN',
'TEXAS' : 'TX',
'UTAH' : 'UT',
'VERMONT' : 'VT',
'VIRGINIA' : 'VA',
'WASHINGTON' : 'WA',
'WEST VIRGINIA' : 'WV',
'WISCONSIN' : 'WI',
'WYOMING' : 'WY'}

In [27]:
merged_hotels['state'] = merged_hotels['state'].replace(statereplace)

In [28]:
merged_hotels['state'] = merged_hotels['state'].str.strip()

In [29]:
merged_hotels['state'].value_counts()

TX                                             2297
CA                                             1649
FL                                             1495
GA                                              912
NC                                              782
                                               ...
<SPAN CLASS="PROPERTY-NORTH CAROLINA</SPAN>       1
NEW YORK 1483                                     1
ILLINOIS61704                                     1
CALIFORNIA                                        1
CHAR                                              1
Name: state, Length: 91, dtype: int64

In [30]:
statereplace2 = {'GEORGIA31904' : 'GA', 'NEW YORK 1483' : 'NY', '<SPAN CLASS="PROPERTY-MISSOURI</SPAN>' : 'MO', 
                '<SPAN CLASS="PROPERTY-ARIZONA</SPAN>' : 'AZ', 'CALIFORNIA9' : 'CA', 'ILLINOIS61704' : 'IL', 
                '<SPAN CLASS="PROPERTY-MAINE</SPAN>' : 'ME', '<SPAN CLASS="PROPERTY-NORTH CAROLINA</SPAN>' : 'NC',
                '<SPAN CLASS="PROPERTY-KANSAS</SPAN>' : 'KS', '<SPAN CLASS="PROPERTY-ALABAMA</SPAN>' : 'AL', 
                '<SPAN CLASS="PROPERTY-WISCONSIN</SPAN>' : 'WI', '<SPAN CLASS="PROPERTY-TENNESSEE</SPAN>' : 'TN',
                '<SPAN CLASS="PROPERTY-MINNESOTA</SPAN>' : 'MN', '<SPAN CLASS="PROPERTY-CALIFORNIA</SPAN>' : 'CA',
                '<SPAN CLASS="PROPERTY-TEXAS</SPAN>' : 'TX'}

In [31]:
merged_hotels['state'] = merged_hotels['state'].replace(statereplace2)

In [32]:
merged_hotels['state'].value_counts()

TX                   2300
CA                   1653
FL                   1495
GA                    913
NC                    783
                     ...
PENNSYLVANIA            1
PENNSYLVANIA17011       1
NEW YORK14830           1
LA C                    1
CHAR                    1
Name: state, Length: 76, dtype: int64

In [33]:
merged_hotels.isnull().sum()

rewards          0
brand          137
name             0
rating          92
description     27
street          74
city            74
state           78
postal          74
url              0
dtype: int64

In [34]:
# dropping hotels that could not conform to address requirements

merged_hotels2 = merged_hotels[~merged_hotels['state'].isnull()]
merged_hotels2.shape

(21367, 10)

## Cleaning the Brand Column

In [35]:
merged_hotels2[merged_hotels2['brand'].isnull()]

,rewards,brand,name,rating,description,street,city,state,postal,url
9636,Marriott,NaN,Aloft Birmingham Soho Square,4.2,[ Surrounded by the chic boutiques and renowne...,1903 29th Avenue South,Homewood,AL,35209,https://www.marriott.com/BHMAL
9637,Marriott,NaN,Aloft Glendale at Westgate,4.4,[ Change it up at Aloft® Hotels Glendale at We...,6920 North 93rd Avenue,Glendale,AZ,85305,https://www.marriott.com/PHXAW
9638,Marriott,NaN,Aloft Phoenix-Airport,4.1,[ Enjoy yourself at Aloft Phoenix-Airport. Our...,4450 East Washington,Phoenix,AZ,85034,https://www.marriott.com/PHXXL
9639,Marriott,NaN,Aloft Scottsdale,4.0,[ Experience an exceptional stay in a desirabl...,4415 North Civic Center Plaza,Scottsdale,AZ,85251,https://www.marriott.com/PHXSD
9640,Marriott,NaN,Aloft Tempe,3.8,[ Just a mile from Arizona State University (A...,951 East Playa Del Norte Drive,Tempe,AZ,85281,https://www.marriott.com/PHXAL
...,...,...,...,...,...,...,...,...,...,...
14250,Marriott,NaN,New: Aloft DFW Airport North,New Hotel,[ Celebrate your style at Aloft DFW Airport No...,Intersection of Regent Boulevard and Statesman...,Irving,TX,75063,https://www.marriott.com/DFWAN
14251,Marriott,NaN,New: Aloft Lubbock,New Hotel,[ ],2909 Iola Ave,Lubbock,TX,79407,https://www.marriott.com/LBBAL
14252,Marriott,NaN,New: Aloft Houston Shenandoah,New Hotel,"[ Ideally located The Woodlands, TX hotel area...",19391 David Memorial Drive,Shenandoah,TX,77385,https://www.marriott.com/HOUAO
14253,Marriott,NaN,New: Aloft Waco Baylor,New Hotel,"[ Connect with colleagues, friends and family ...",900 South 11th Street,Waco,TX,76706,https://www.marriott.com/WCOAL
14667,Marriott,NaN,Aloft Charlotte Airport,4.5,[ Aloft Charlotte Airport invites you to explo...,3928 Memorial Parkway,Charlotte,NC,28217,https://www.marriott.com/CLTAP

In [36]:
for index, row in merged_hotels2.iterrows():
    if 'Aloft' in row['name']:
        merged_hotels2['brand'][index] = 'Aloft'

/Users/chrisjohnson/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3331: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

## Cleaning the Rating Column

In [37]:
merged_hotels2['rating'] = merged_hotels2['rating'].str.strip()

/Users/chrisjohnson/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [38]:
merged_hotels2 = merged_hotels2[~merged_hotels2['rating'].isnull()]

In [39]:
ratingreplace = {'0' : 'New Hotel', '4.5 Stars':'4.5', 'https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/4.0-MCID-5.svg' : '4',
                '4.0 Stars' : '4', 'https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/4.5-MCID-5.svg' : '4.5',
                'https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/3.5-MCID-5.svg' : '3.5', '5.0 Stars' : '5',
                'https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/3.0-MCID-5.svg' : '3', '3.5 Stars' : '3.5',
                'https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/5.0-MCID-5.svg' : '5', 
                'https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/2.5-MCID-5.svg' : '2.5', '2.0 Stars' : '2',
                 '3.0 Stars' : '3', 'https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/2.0-MCID-5.svg' : '2',
                 'https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/0.0-MCID-5.svg' : '0', 'nager' : 'New Hotel'
                }
merged_hotels2['rating'] = merged_hotels2['rating'].replace(ratingreplace)

In [40]:
merged_hotels2['rating'].value_counts()

4.5          5517
4            2162
3.5          2010
4.0          1649
4.6          1598
3.0          1345
4.4          1305
4.7          1235
New Hotel     773
4.3           767
2.5           659
4.8           615
4.2           493
4.1           302
5             188
2.0           166
3.9           119
4.9           116
3.8            56
3              51
5.0            44
3.7            34
3.6            19
1.5            13
2              11
0.0             5
3.4             5
3.3             4
1.0             3
4,5             2
1               2
4,7             1
4,6             1
1.8             1
2.8             1
3.1             1
0               1
2.9             1
Name: rating, dtype: int64

In [41]:
newrating = []
for x in merged_hotels2['rating']:
    try:
        x = float(x)
        if x == 5.0:
            z = 5.0
            newrating.append(z)
        elif 4.5 <= x < 5.0:
            z = 4.5
            newrating.append(z)
        elif 4.0 <= x < 4.5:
            z = 4.0
            newrating.append(z)
        elif 3.5 <= x < 4.0:
            z = 3.5
            newrating.append(z)
        elif 3.0 <= x < 3.5:
            z = 3.0
            newrating.append(z)
        elif 2.5 <= x < 3.0:
            z = 2.5
            newrating.append(z)
        elif 2.0 <= x < 2.5:
            z = 2.0
            newrating.append(z)
        elif 1.5 <= x < 2.0:
            z = 1.5
            newrating.append(z)
        elif 1.0 <= x < 1.5:
            z = 1.0
            newrating.append(z)
        elif .5 <= x < 1.0:
            z = .5
            newrating.append(z)
        elif 0.0 <= x < .5:
            z = 0.0
            newrating.append(z)
    except:
        newrating.append(x)

In [42]:
merged_hotels2['rating'] = newrating

In [43]:
replaceratings = {'4,6' : 4.5, '4,5' : 4.5, '4,7' : 4.5}

In [44]:
merged_hotels2['rating'] = merged_hotels2['rating'].replace(replaceratings)

In [45]:
merged_hotels2['rating'].value_counts()

4.5          9085
4.0          6678
3.5          2238
3.0          1406
New Hotel     773
2.5           661
5.0           232
2.0           177
1.5            14
0.0             6
1.0             5
Name: rating, dtype: int64

In [46]:
print(merged_hotels2['rewards'].value_counts())
print(merged_hotels2['rewards'].value_counts().sum())

Wyndham     6073
Marriott    5191
Hilton      4890
IHG         3875
Hyatt        713
Radisson     533
Name: rewards, dtype: int64
21275

In [47]:
print(merged_hotels2['brand'].value_counts())
print(merged_hotels2['brand'].value_counts().sum())

Holiday Inn Express    2257
Hampton Inn            2165
Super 8                1474
Days Inn               1375
Fairfield              1050
                       ...
MiRaval                   3
Waldorf Astoria           1
Paris                     1
Tapestry                  1
Wyndham                   1
Name: brand, Length: 77, dtype: int64
21275

## Fixing the Intercontinental Hotel Missing information

In [48]:
intercontinental = merged_hotels2[merged_hotels2['brand'].str.contains('Inter')]

In [49]:
intercontinental = intercontinental.rename(columns={'city' : 'state', 'state': 'city'})
intercontinental = intercontinental[['rewards', 'brand', 'name', 'rating', 'description', 'street', 'city', 'state', 'postal', 'url']]

In [50]:
intercontinental['state'] = intercontinental['state'].str.upper()

In [51]:
intercontinental['city'] = intercontinental['city'].str.title()

In [52]:
intercontinental.head()

,rewards,brand,name,rating,description,street,city,state,postal,url
9548,IHG,InterContinental,InterContinental Hotels Los Angeles Downtown,4,\nRevel in glamour and exhilaration that defin...,900 Wilshire Boulevard,Los Angeles,CALIFORNIA,90017,https://www.ihg.com/intercontinental/hotels/us...
9549,IHG,InterContinental,InterContinental Hotels San Francisco,4,\nImmerse yourself in the heart of the city a...,888 Howard Street,San Francisco,CALIFORNIA,94103,https://www.ihg.com/intercontinental/hotels/us...
9550,IHG,InterContinental,InterContinental Hotels Mark Hopkins San Franc...,4,\nDiscover San Francisco's historic charm at t...,999 California Street,San Francisco,CALIFORNIA,94108,https://www.ihg.com/intercontinental/hotels/us...
9551,IHG,InterContinental,InterContinental Hotels Los Angeles Century City,4.5,\nEnjoy unrivaled hospitality at the InterCont...,2151 Avenue Of The Stars,Los Angeles,CALIFORNIA,90067,https://www.ihg.com/intercontinental/hotels/us...
9552,IHG,InterContinental,InterContinental Hotels San Diego,4.5,\nExuding the liveliness of the city with a so...,901 Bayfront Court,San Diego,CALIFORNIA,92101,https://www.ihg.com/intercontinental/hotels/us...

In [53]:
merged_hotels3 = merged_hotels2[~merged_hotels2['brand'].str.contains('Inter')]

In [54]:
merged_hotels3 = pd.concat([merged_hotels3, intercontinental], ignore_index=True)

In [55]:
merged_hotels3.shape

(21275, 10)

## One last clean on state column to address hotels where city and state were backwards

In [56]:
print(merged_hotels3['state'].value_counts())
print(merged_hotels3['state'].value_counts().sum())

TX               2298
CA               1639
FL               1485
GA                911
NC                780
                 ...
NEW YORK14830       1
GEORGIA             1
LA C                1
LOUISIANA           1
CHAR                1
Name: state, Length: 71, dtype: int64
21275

In [57]:
merged_hotels3[merged_hotels3['state'].str.contains('CHAR')]

,rewards,brand,name,rating,description,street,city,state,postal,url
14959,Radisson,Radisson,Radisson Hotel Charlotte Airport,4.5,Unpack your bags after a 10-minute shuttle ri...,212 W Woodlawn Road,#C,CHAR,lotte,https://www.radissonhotels.com/en-us/hotels/ra...

In [58]:
statereplace3 = {'LA C' : 'WI', '200 Harborview Plaza' : 'La Crosse', 'rosse' : '54601', 'CHAR' : 'NC', 'lotte' : '28217', '#C' : 'Charlotte', 'ILLINOIS61036' : 'IL', 'PENNSYLVANIA17011' : 'PA', 'NEW YORK14830' : 'NY'}

In [59]:
merged_hotels3['state'] = merged_hotels3['state'].replace(statereplace)

In [60]:
merged_hotels3 = merged_hotels3.replace(statereplace3)

In [61]:
merged_hotels3['city'] = merged_hotels3['city'].str.strip()

## To Map the Smith Travel Rating to Each Hotel Brand

In [62]:
classnumber = {'AC Hotel':3,
 'Aloft':3,
 'AmericInn':5,
 'Andaz':1,
 'Baymont':5,
 'Candlewood':5,
 'Canopy':2,
 'Club Wyndham':2,
 'Conrad':1,
 'Country Inn & Suites':4,
 'Courtyard':3,
 'Crowne Plaza':3,
 'Curio':2,
 'Days Inn':6,
 'Delta Hotels':3,
 'Destination or Unbound':1,
 'Doubletree':3,
 'EVEN':3,
 'Embassy Suites':2,
 'Fairfield':4,
 'FourPoints':3,
 'Grand Hyatt':1,
 'Hampton Inn':4,
 'Hawthorn Suites':5,
 'Hilton':2,
 'Hilton Garden Inn':3,
 'Hilton Grand Vacations':2,
 'Holiday Inn':4,
 'Holiday Inn Express':4,
 'Home2':4,
 'Homewood Suites':3,
 'Houte House':3,
 'Howard Johnson':6,
 'Hyatt':2,
 'Hyatt Centric':2,
 'Hyatt Place':3,
 'Hyatt Regency':2,
 'Indigo':2,
 'InterContinental':1,
 'JW Marriott':1,
 'Joie De Vivre':2,
 'Kimpton':2,
 'La Quinta':4,
 'Le Meredian':2,
 'Luxury Collection':1,
 'Marriott':2,
 'MiRaval':1,
 'Microtel':6,
 'Moxy':4,
 'Paris':2,
 'Park Hyatt':1,
 'Park Inn':4,
 'Radisson':3,
 'Ramada':5,
 'Renaissance':2,
 'Residence Inn':3,
 'Sheraton':2,
 'Springhill':3,
 'St. Regis':1,
 'Staybridge':3,
 'Super 8':6,
 'TRYP':4,
 'Tapestry':3,
 'Thompson':1,
 'TownPlace':4,
 'Trademark':4,
 'Travelodge':6,
 'Tribute':2,
 'Tru':5,
 'W Hotel':1,
 'Waldorf Astoria':1,
 'Westin':2,
 'Wingate':5,
 'Wyndham':3,
 'Wyndham Garden':4,
 'Wyndham Grand':2,
 'Wyndham Vacations':3}

In [63]:
merged_hotels3['class_id'] = merged_hotels3['brand']

In [64]:
merged_hotels3['class_id'] = merged_hotels3['class_id'].replace(classnumber)

In [65]:
merged_hotels3.head()

,rewards,brand,name,rating,description,street,city,state,postal,url,class_id
0,Hilton,Hampton Inn,Hampton Inn Alexander City,4,"We’re right off Highway 280, 25 minutes away f...",1551 Elkahatchee Road,Alexander City,AL,35010,https://hamptoninn3.hilton.com/en/hotels/alaba...,4
1,Hilton,Hampton Inn,Hampton Inn Wetumpka,5,"We’re on the banks of the Coosa River, a short...",350 South Main Street,Wetumpka,AL,36092,https://hamptoninn3.hilton.com/en/hotels/alaba...,4
2,Hilton,Hampton Inn,Hampton Inn Auburn,4,"We're off I-85, under 10 minutes from Chewacla...",2430 S. College St.,Auburn,AL,36832,https://hamptoninn3.hilton.com/en/hotels/alaba...,4
3,Hilton,Tru,Tru by Hilton Auburn,4,"Make this Tru by Hilton your own. We’ll help, ...",2411 W Pace Blvd,Auburn,AL,36830,https://tru3.hilton.com/en/hotels/alabama/tru-...,5
4,Hilton,Hilton Garden Inn,Hilton Garden Inn Auburn/Opelika,4,"Our hotel is just off I-85, minutes away from ...",2555 Hilton Garden Drive,Auburn,AL,36830,https://hiltongardeninn3.hilton.com/en/hotels/...,3

## Map category/type to each brand

In [66]:
classcategory = {'AC Hotel':'Lifestyle, Boutique',
 'Aloft':'Lifestyle, Boutique',
 'AmericInn':'Budget',
 'Andaz':'Lifestyle, Boutique',
 'Baymont':'Budget',
 'Candlewood':'Extended-Stay, All-Suite',
 'Canopy':'Lifestyle, Boutique',
 'Club Wyndham':'Vacation Club, Condos, Villas',
 'Conrad':'Luxury',
 'Country Inn & Suites':'Limited-Service Mid-Scale',
 'Courtyard':'Full-Service Entry',
 'Crowne Plaza':'Full-Service Mid-Scale',
 'Curio':'Lifestyle, Boutique',
 'Days Inn':'Budget',
 'Delta Hotels':'Full-Service Entry',
 'Destination or Unbound':'Lifestyle, Boutique',
 'Doubletree':'Full-Service Mid-Scale',
 'EVEN':'Lifestyle, Boutique',
 'Embassy Suites':'Extended-Stay, All-Suite',
 'Fairfield':'Limited-Service Mid-Scale',
 'FourPoints':'Full-Service Entry',
 'Grand Hyatt':'Luxury',
 'Hampton Inn':'Limited-Service Mid-Scale',
 'Hawthorn Suites':'Extended-Stay, All-Suite',
 'Hilton':'Full-Service Upper-Scale',
 'Hilton Garden Inn':'Full-Service Entry',
 'Hilton Grand Vacations':'Vacation Club, Condos, Villas',
 'Holiday Inn':'Full-Service Mid-Scale',
 'Holiday Inn Express':'Limited-Service Mid-Scale',
 'Home2':'Extended-Stay, All-Suite',
 'Homewood Suites':'Extended-Stay, All-Suite',
 'Houte House':'Extended-Stay, All-Suite',
 'Howard Johnson':'Budget',
 'Hyatt':'Lifestyle, Boutique',
 'Hyatt Centric':'Lifestyle, Boutique',
 'Hyatt Place':'Limited-Service Mid-Scale',
 'Hyatt Regency':'Full-Service Upper-Scale',
 'Indigo':'Lifestyle, Boutique',
 'InterContinental':'Luxury',
 'JW Marriott':'Luxury',
 'Joie De Vivre':'Lifestyle, Boutique',
 'Kimpton':'Lifestyle, Boutique',
 'La Quinta':'Limited-Service Mid-Scale',
 'Le Meredian':'Lifestyle, Boutique',
 'Luxury Collection':'Luxury',
 'Marriott':'Full-Service Upper-Scale',
 'MiRaval':'Luxury',
 'Microtel':'Budget',
 'Moxy':'Lifestyle, Boutique',
 'Paris':'Full-Service Upper-Scale',
 'Park Hyatt':'Luxury',
 'Park Inn':'Limited-Service Mid-Scale',
 'Radisson':'Full-Service Entry',
 'Ramada':'Budget',
 'Renaissance':'Full-Service Upper-Scale',
 'Residence Inn':'Extended-Stay, All-Suite',
 'Sheraton':'Full-Service Upper-Scale',
 'Springhill':'Extended-Stay, All-Suite',
 'St. Regis':'Luxury',
 'Staybridge':'Extended-Stay, All-Suite',
 'Super 8':'Budget',
 'TRYP':'Lifestyle, Boutique',
 'Tapestry':'Lifestyle, Boutique',
 'Thompson':'Lifestyle, Boutique',
 'TownPlace':'Extended-Stay, All-Suite',
 'Trademark':'Lifestyle, Boutique',
 'Travelodge':'Budget',
 'Tribute':'Lifestyle, Boutique',
 'Tru':'Budget',
 'W Hotel':'Luxury',
 'Waldorf Astoria':'Luxury',
 'Westin':'Full-Service Upper-Scale',
 'Wingate':'Budget',
 'Wyndham':'Full-Service Entry',
 'Wyndham Garden':'Limited-Service Mid-Scale',
 'Wyndham Grand':'Full-Service Mid-Scale',
 'Wyndham Vacations':'Vacation Club, Condos, Villas'}

In [67]:
merged_hotels3['category'] = merged_hotels3['brand']

In [68]:
merged_hotels3['category'] = merged_hotels3['category'].replace(classcategory)

In [69]:
merged_hotels3['category'].value_counts()

Limited-Service Mid-Scale        7202
Budget                           5002
Extended-Stay, All-Suite         3860
Full-Service Entry               1970
Full-Service Upper-Scale         1098
Full-Service Mid-Scale           1090
Lifestyle, Boutique               742
Vacation Club, Condos, Villas     169
Luxury                            142
Name: category, dtype: int64

In [70]:
merged_hotels3['class_id'].value_counts()

4    8470
3    5279
6    3634
5    1888
2    1749
1     255
Name: class_id, dtype: int64

In [71]:
merged_hotels3 = merged_hotels3[~merged_hotels3['description'].isnull()]

In [72]:
merged_hotels3.dtypes

rewards        object
brand          object
name           object
rating         object
description    object
street         object
city           object
state          object
postal         object
url            object
class_id        int64
category       object
dtype: object

In [73]:
# merged_hotels3.to_csv('./Data/all_hotels_cleaned.csv')

In [74]:
merged_hotels3.head(3)

,rewards,brand,name,rating,description,street,city,state,postal,url,class_id,category
0,Hilton,Hampton Inn,Hampton Inn Alexander City,4,"We’re right off Highway 280, 25 minutes away f...",1551 Elkahatchee Road,Alexander City,AL,35010,https://hamptoninn3.hilton.com/en/hotels/alaba...,4,Limited-Service Mid-Scale
1,Hilton,Hampton Inn,Hampton Inn Wetumpka,5,"We’re on the banks of the Coosa River, a short...",350 South Main Street,Wetumpka,AL,36092,https://hamptoninn3.hilton.com/en/hotels/alaba...,4,Limited-Service Mid-Scale
2,Hilton,Hampton Inn,Hampton Inn Auburn,4,"We're off I-85, under 10 minutes from Chewacla...",2430 S. College St.,Auburn,AL,36832,https://hamptoninn3.hilton.com/en/hotels/alaba...,4,Limited-Service Mid-Scale