# THIS NOTEBOOK HAS MINIMUM COMMENTING/MARKDOWN BECAUSE I HAD TO RECREATE IT THIS MORNING

In [1]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests
import json
from selenium.webdriver import Chrome
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
import time
from datetime import datetime

pd.set_option('max_columns', None)
pd.set_option('max_rows', None)

In [2]:
a = pd.read_csv('./Data/final_hilton.csv')
a = a.drop(['Unnamed: 0'], axis=1)
b = pd.read_csv('./Data/final_hyatt.csv')
b = b.drop(['Unnamed: 0'], axis=1)
c = pd.read_csv('./Data/final_ihg.csv')
c = c.drop(['Unnamed: 0'], axis=1)
d = pd.read_csv('./Data/final_marriott.csv')
d = d.drop(['Unnamed: 0'], axis=1)
e = pd.read_csv('./Data/final_radisson.csv')
e = e.drop(['Unnamed: 0'], axis=1)
f = pd.read_csv('./Data/final_wyndham.csv')
f = f.drop(['Unnamed: 0'], axis=1)

In [3]:
a.head(1)

,name,description,streetAddress,addressLocality,addressRegion,addressCountry,postalCode,url,latitude,longitude,rating,brand
0,Hampton Inn Alexander City,"We’re right off Highway 280, 25 minutes away f...",1551 Elkahatchee Road,Alexander City,AL,US,35010,https://hamptoninn3.hilton.com/en/hotels/alaba...,32.927516,-85.966271,4,Hampton Inn

In [4]:
b.head(1)

,name,url,street,city,state,postal,description,rating
0,Hyatt Place Birmingham/Hoover,https://www.hyatt.com/en-US/hotel/alabama/hyat...,2980 John Hawkins Parkway,Hoover,ALABAMA,35244,Relax poolside or enjoy a refreshing dip in o...,4.5 Stars

In [5]:
c.head(1)

,name,description,url,street,locality,region,postalcode,address3,rating,brand
0,Holiday Inn Express & Suites Alabaster,"The Holiday Inn Express & Suites, Alabaster in...",https://www.ihg.com/holidayinnexpress/hotels/u...,"1000 Balmoral Drive ,","Alabaster,",Alabama,35007,NaN,4.7,Holiday Inn Express

In [6]:
d.head(1)

,brand,name,url,street,locality,state,postalcode,coordinate1,coordinate2,coordinate3,coordinate4,description,overall_rating,cleanliness_rating,service_rating
0,AC Hotel,AC Hotel Huntsville Downtown,https://www.marriott.com/HSVAR,435 Williams Avenue SW,Huntsville,ALABAMA,35801,-86.58764,NaN,NaN,NaN,[ Discover something new at the AC Hotel Hunts...,NaN,4.7,4.5

In [7]:
e.head(1)

,name,url,street,locality,state,postal,description,rating
0,"Country Inn & Suites by Radisson, Dothan, AL",https://www.radissonhotels.com/en-us/hotels/co...,3465 Ross Clark Circle,Dothan,Alabama,36303,"Conveniently located on travel routes, the Co...",https://www.tripadvisor.com/img/cdsi/img2/rati...

In [8]:
f.head(1)

,name,url,street,city,state,postal,description,rating
0,Microtel Inn & Suites by Wyndham Albertville,https://www.wyndhamhotels.com//microtel/albert...,220 Highway 75 North,Albertville,AL,35950,Stop Off in Albertville Pet-friendly hotel...,4.0

In [9]:
print(a.columns)
print('='*50)
print(b.columns)
print('='*50)
print(c.columns)
print('='*50)
print(d.columns)
print('='*50)
print(e.columns)
print('='*50)
print(f.columns)
print('='*50)

Index(['name', 'description', 'streetAddress', 'addressLocality',
       'addressRegion', 'addressCountry', 'postalCode', 'url', 'latitude',
       'longitude', 'rating', 'brand'],
      dtype='object')
==================================================
Index(['name', 'url', 'street', 'city', 'state', 'postal', 'description',
       'rating'],
      dtype='object')
==================================================
Index(['name', 'description', 'url', 'street', 'locality', 'region',
       'postalcode', 'address3', 'rating', 'brand'],
      dtype='object')
==================================================
Index(['brand', 'name', 'url', 'street', 'locality', 'state', 'postalcode',
       'coordinate1', 'coordinate2', 'coordinate3', 'coordinate4',
       'description', 'overall_rating', 'cleanliness_rating',
       'service_rating'],
      dtype='object')
==================================================
Index(['name', 'url', 'street', 'locality', 'state', 'postal', 'description',
       'rating'],
      dtype='object')
==================================================
Index(['name', 'url', 'street', 'city', 'state', 'postal', 'description',
       'rating'],
      dtype='object')
==================================================

In [10]:
e = e.rename(columns={"locality": "city"})

In [11]:
d = d.drop(['coordinate1', 'coordinate2', 'coordinate3', 'coordinate4', 'overall_rating', 'cleanliness_rating'], axis=1)

In [12]:
d = d.rename(columns={'service_rating' : 'rating', 'postalcode' : 'postal', 'locality' : 'city'})

In [13]:
c = c.rename(columns={'postalcode' : 'postal', 'region' : 'state', 'locality' : 'city'})

In [14]:
c = c.drop(['address3'], axis=1)

In [15]:
a = a.rename(columns={'streetAddress' : 'street', 'addressLocality' : 'city',
       'addressRegion' : 'state', 'postalCode' : 'postal'})

In [16]:
a = a.drop(['addressCountry', 'latitude', 'longitude'], axis=1)

In [17]:
b['brand'] = ''

In [18]:
for index, row in b.iterrows():
    if 'Hyatt Place' in row['name']:
        b['brand'][index] = 'Hyatt Place'
    elif 'Hyatt House' in row['name']:
        b['brand'][index] = 'Houte House'
    elif 'Hyatt Regency' in row['name']:
        b['brand'][index] = 'Hyatt Regency'
    elif 'Grand Hyatt' in row['name']:
        b['brand'][index] = 'Grand Hyatt'
    elif 'Park Hyatt' in row['name']:
        b['brand'][index] = 'Park Hyatt'
    elif 'Andaz' in row['name']:
        b['brand'][index] = 'Andaz'
    elif 'Thompson' in row['name']:
        b['brand'][index] = 'Thompson'
    elif 'Centric' in row['name']:
        b['brand'][index] = 'Hyatt Centric'
    elif 'miraval' in row['url']:
        b['brand'][index] = 'MiRaval'
    elif 'jdv-' in row['url']:
        b['brand'][index] = 'Joie De Vivre'
    elif 'hyatt-' in row['url']:
        b['brand'][index] = 'Hyatt'
#     elif 'Canopy' in row['name']:
#         b['brand'][index] = 'Canopy'
#     elif 'Curio' in row['name']:
#         b['brand'][index] = 'Curio'
#     elif 'Hilton Grand' in row['name']:
#         b['brand'][index] = 'Hilton Grand Vacations'
#     elif 'Tapestry' in row['name']:
#         b['brand'][index] = 'Tapestry'
#     elif 'Motto' in row['name']:
#         b['brand'][index] = 'Motto'
    else:
        b['brand'][index] = 'Destination or Unbound'

In [19]:
b['brand'].value_counts()

Hyatt Place               323
Houte House               100
Hyatt Regency              97
Destination or Unbound     97
Hyatt Centric              22
Hyatt                      20
Joie De Vivre              16
Grand Hyatt                13
Andaz                       9
Thompson                    7
Park Hyatt                  6
MiRaval                     3
Name: brand, dtype: int64

In [20]:
for x in b[(b['brand']=='N/A')]['url']:
    print(x)

In [21]:
e['brand'] = ''

In [22]:
for index, row in e.iterrows():
    if 'Country Inn' in row['name']:
        e['brand'][index] = 'Country Inn & Suites'
    elif 'Park Inn' in row['name']:
        e['brand'][index] = 'Park Inn'
    elif 'Park Plaza' in row['name']:
        e['brand'][index] = 'Park Plaza'
#     elif 'Doubletree' in row['name']:
#         e['brand'][index] = 'Doubletree'
#     elif 'DoubleTree' in row['name']:
#         hilton['brand'][index] = 'Doubletree'
#     elif 'Embassy' in row['name']:
#         hilton['brand'][index] = 'Embassy Suites'
#     elif 'Homewood Suites' in row['name']:
#         hilton['brand'][index] = 'Homewood Suites'
#     elif 'Home2 Suites' in row['name']:
#         hilton['brand'][index] = 'Home2'
#     elif 'Home2 by' in row['name']:
#         hilton['brand'][index] = 'Home2'
#     elif 'Conrad' in row['name']:
#         hilton['brand'][index] = 'Conrad'
#     elif 'Waldorf' in row['name']:
#         hilton['brand'][index] = 'Waldorf Astoria'
#     elif 'Canopy' in row['name']:
#         hilton['brand'][index] = 'Canopy'
#     elif 'Curio' in row['name']:
#         hilton['brand'][index] = 'Curio'
#     elif 'Hilton Grand' in row['name']:
#         hilton['brand'][index] = 'Hilton Grand Vacations'
#     elif 'Tapestry' in row['name']:
#         hilton['brand'][index] = 'Tapestry'
#     elif 'Motto' in row['name']:
#         hilton['brand'][index] = 'Motto'
    else:
        e['brand'][index] = 'Radisson'

In [23]:
e['brand'].value_counts()

Country Inn & Suites    446
Radisson                 81
Park Inn                  6
Name: brand, dtype: int64

In [24]:
f['brand'] = ''

In [25]:
for index, row in f.iterrows():
    if 'Hawthorn' in row['name']:
        f['brand'][index] = 'Hawthorn Suites'
    elif 'Travelodge' in row['name']:
        f['brand'][index] = 'Travelodge'
    elif 'Howard Johnson' in row['name']:
        f['brand'][index] = 'Howard Johnson'
    elif 'Super 8' in row['name']:
        f['brand'][index] = 'Super 8'
    elif 'Days Inn' in row['name']:
        f['brand'][index] = 'Days Inn'
    elif 'Microtel' in row['name']:
        f['brand'][index] = 'Microtel'
    elif 'Ramada' in row['name']:
        f['brand'][index] = 'Ramada'
    elif 'AmericInn' in row['name']:
        f['brand'][index] = 'AmericInn'
    elif 'Wyndham Garden' in row['name']:
        f['brand'][index] = 'Wyndham Garden'
    elif 'Wingate' in row['name']:
        f['brand'][index] = 'Wingate'
    elif 'La Quinta' in row['name']:
        f['brand'][index] = 'La Quinta'
    elif 'Trademark' in row['name']:
        f['brand'][index] = 'Trademark'
    elif 'Dazzler' in row['name']:
        f['brand'][index] = 'Dazzler'
    elif 'Esplendor' in row['name']:
        f['brand'][index] = 'Esplendor'
    elif 'Tryp' in row['name']:
        f['brand'][index] = 'TRYP'
    elif 'TRYP' in row['name']:
        f['brand'][index] = 'TRYP'
    elif 'Dolce' in row['name']:
        f['brand'][index] = 'Dolce'
    elif 'Wyndham Grand' in row['name']:
        f['brand'][index] = 'Wyndham Grand'
    elif 'Club Wyndham' in row['name']:
        f['brand'][index] = 'Club Wyndham'
    elif 'Worldmark' in row['name']:
        f['brand'][index] = 'Worldmark'
    elif 'Margaritaville' in row['name']:
        f['brand'][index] = 'Margaritaville'
    elif 'Caesars' in row['name']:
        f['brand'][index] = 'Caesars'
    elif 'Harrahs' in row['name']:
        f['brand'][index] = 'Harrahs'
    elif 'Horseshoe' in row['name']:
        f['brand'][index] = 'Horseshoe'
    elif 'Cromwell' in row['name']:
        f['brand'][index] = 'The Cromwell'
    elif 'Bally' in row['name']:
        f['brand'][index] = "Bally's"
    elif 'Flamingo' in row['name']:
        f['brand'][index] = 'Flamingo'
    elif 'Linq' in row['name']:
        f['brand'][index] = 'The LINQ'
    elif 'NOBU' in row['name']:
        f['brand'][index] = 'NOBU'
    elif 'Paris' in row['name']:
        f['brand'][index] = "Paris"
    elif 'Planet Hollywood' in row['name']:
        f['brand'][index] = 'Planet Hollywood'
    elif 'Rio' in row['name']:
        f['brand'][index] = 'Rio'
    elif 'Baymont' in row['name']:
        f['brand'][index] = 'Baymont'
    elif 'Days' in row['name']:
        f['brand'][index] = 'Days Inn'
    elif 'wyndham-vacations' in row['url']:
        f['brand'][index] = 'Wyndham Vacations'
#     elif 'Days' in row['name']:
#         f['brand'][index] = 'Days Inn'
    else:
        f['brand'][index] = 'Wyndham'

In [26]:
f['brand'].value_counts()

Super 8              1474
Days Inn             1375
La Quinta             888
Baymont               501
Travelodge            335
Ramada                316
Microtel              291
AmericInn             199
Wingate               163
Howard Johnson        159
Hawthorn Suites       101
Wyndham Vacations      81
Wyndham Garden         67
Club Wyndham           67
Wyndham                49
Trademark              41
Wyndham Grand          18
TRYP                    9
Caesars                 4
Paris                   2
Dolce                   2
Horseshoe               2
Planet Hollywood        1
The Cromwell            1
Bally's                 1
Flamingo                1
Name: brand, dtype: int64

In [27]:
for x in f[(f['brand']=='N/A')]['url']:
    print(x)
    print

In [28]:
a['rewards'] = 'Hilton'
b['rewards'] = 'Hyatt'
c['rewards'] = 'IHG'
d['rewards'] = 'Marriott'
e['rewards'] = 'Radisson'
f['rewards'] = 'Wyndham'

In [29]:
a.head(1)

,name,description,street,city,state,postal,url,rating,brand,rewards
0,Hampton Inn Alexander City,"We’re right off Highway 280, 25 minutes away f...",1551 Elkahatchee Road,Alexander City,AL,35010,https://hamptoninn3.hilton.com/en/hotels/alaba...,4,Hampton Inn,Hilton

In [30]:
a= a[['rewards', 'brand', 'name', 'rating', 'description', 'street', 'city', 'state', 'postal', 'url']]

In [31]:
a.head(1)

,rewards,brand,name,rating,description,street,city,state,postal,url
0,Hilton,Hampton Inn,Hampton Inn Alexander City,4,"We’re right off Highway 280, 25 minutes away f...",1551 Elkahatchee Road,Alexander City,AL,35010,https://hamptoninn3.hilton.com/en/hotels/alaba...

In [32]:
b.head(1)

,name,url,street,city,state,postal,description,rating,brand,rewards
0,Hyatt Place Birmingham/Hoover,https://www.hyatt.com/en-US/hotel/alabama/hyat...,2980 John Hawkins Parkway,Hoover,ALABAMA,35244,Relax poolside or enjoy a refreshing dip in o...,4.5 Stars,Hyatt Place,Hyatt

In [33]:
b= b[['rewards', 'brand', 'name', 'rating', 'description', 'street', 'city', 'state', 'postal', 'url']]

In [34]:
b.head(1)

,rewards,brand,name,rating,description,street,city,state,postal,url
0,Hyatt,Hyatt Place,Hyatt Place Birmingham/Hoover,4.5 Stars,Relax poolside or enjoy a refreshing dip in o...,2980 John Hawkins Parkway,Hoover,ALABAMA,35244,https://www.hyatt.com/en-US/hotel/alabama/hyat...

In [35]:
b.head(1)

,rewards,brand,name,rating,description,street,city,state,postal,url
0,Hyatt,Hyatt Place,Hyatt Place Birmingham/Hoover,4.5 Stars,Relax poolside or enjoy a refreshing dip in o...,2980 John Hawkins Parkway,Hoover,ALABAMA,35244,https://www.hyatt.com/en-US/hotel/alabama/hyat...

In [36]:
c.head(1)

,name,description,url,street,city,state,postal,rating,brand,rewards
0,Holiday Inn Express & Suites Alabaster,"The Holiday Inn Express & Suites, Alabaster in...",https://www.ihg.com/holidayinnexpress/hotels/u...,"1000 Balmoral Drive ,","Alabaster,",Alabama,35007,4.7,Holiday Inn Express,IHG

In [37]:
c= c[['rewards', 'brand', 'name', 'rating', 'description', 'street', 'city', 'state', 'postal', 'url']]

In [38]:
c.head(1)

,rewards,brand,name,rating,description,street,city,state,postal,url
0,IHG,Holiday Inn Express,Holiday Inn Express & Suites Alabaster,4.7,"The Holiday Inn Express & Suites, Alabaster in...","1000 Balmoral Drive ,","Alabaster,",Alabama,35007,https://www.ihg.com/holidayinnexpress/hotels/u...

In [39]:
d.head(1)

,brand,name,url,street,city,state,postal,description,rating,rewards
0,AC Hotel,AC Hotel Huntsville Downtown,https://www.marriott.com/HSVAR,435 Williams Avenue SW,Huntsville,ALABAMA,35801,[ Discover something new at the AC Hotel Hunts...,4.5,Marriott

In [40]:
d= d[['rewards', 'brand', 'name', 'rating', 'description', 'street', 'city', 'state', 'postal', 'url']]

In [41]:
d.head(1)

,rewards,brand,name,rating,description,street,city,state,postal,url
0,Marriott,AC Hotel,AC Hotel Huntsville Downtown,4.5,[ Discover something new at the AC Hotel Hunts...,435 Williams Avenue SW,Huntsville,ALABAMA,35801,https://www.marriott.com/HSVAR

In [42]:
e.head(1)

,name,url,street,city,state,postal,description,rating,brand,rewards
0,"Country Inn & Suites by Radisson, Dothan, AL",https://www.radissonhotels.com/en-us/hotels/co...,3465 Ross Clark Circle,Dothan,Alabama,36303,"Conveniently located on travel routes, the Co...",https://www.tripadvisor.com/img/cdsi/img2/rati...,Country Inn & Suites,Radisson

In [43]:
e= e[['rewards', 'brand', 'name', 'rating', 'description', 'street', 'city', 'state', 'postal', 'url']]

In [44]:
e.head(1)

,rewards,brand,name,rating,description,street,city,state,postal,url
0,Radisson,Country Inn & Suites,"Country Inn & Suites by Radisson, Dothan, AL",https://www.tripadvisor.com/img/cdsi/img2/rati...,"Conveniently located on travel routes, the Co...",3465 Ross Clark Circle,Dothan,Alabama,36303,https://www.radissonhotels.com/en-us/hotels/co...

In [45]:
f.head(1)

,name,url,street,city,state,postal,description,rating,brand,rewards
0,Microtel Inn & Suites by Wyndham Albertville,https://www.wyndhamhotels.com//microtel/albert...,220 Highway 75 North,Albertville,AL,35950,Stop Off in Albertville Pet-friendly hotel...,4.0,Microtel,Wyndham

In [46]:
f= f[['rewards', 'brand', 'name', 'rating', 'description', 'street', 'city', 'state', 'postal', 'url']]

In [47]:
f.head()

,rewards,brand,name,rating,description,street,city,state,postal,url
0,Wyndham,Microtel,Microtel Inn & Suites by Wyndham Albertville,4.0,Stop Off in Albertville Pet-friendly hotel...,220 Highway 75 North,Albertville,AL,35950,https://www.wyndhamhotels.com//microtel/albert...
1,Wyndham,Days Inn,Days Inn by Wyndham Alexander City,4.0,Rest Easy in Alexander City Near Lake Mart...,3146 Highway 280,Alexander City,AL,35010,https://www.wyndhamhotels.com//days-inn/alexan...
2,Wyndham,Super 8,Super 8 by Wyndham Alexander City,4.0,Enjoy Alexander City Pet-friendly location...,4335 Hwy 280,Alexander City,AL,35010,https://www.wyndhamhotels.com//super-8/alexand...
3,Wyndham,Days Inn,Days Inn by Wyndham Andalusia,3.0,Stop Off in Andalusia Across from LBW Comm...,1604 Dr MLK Jr Expressway,Andalusia,AL,36420,https://www.wyndhamhotels.com//days-inn/andalu...
4,Wyndham,Days Inn,Days Inn & Suites by Wyndham Athens Alabama,4.0,Explore the Antebellum South Off I-65 near...,1322 Highway 72 East,Athens,AL,35611-4406,https://www.wyndhamhotels.com//days-inn/athens...

In [48]:
a.shape

(4890, 10)

In [49]:
b.shape

(713, 10)

In [50]:
c.shape

(3970, 10)

In [51]:
d.shape

(5191, 10)

In [52]:
e.shape

(533, 10)

In [53]:
f.shape

(6148, 10)

In [54]:
a.columns

Index(['rewards', 'brand', 'name', 'rating', 'description', 'street', 'city',
       'state', 'postal', 'url'],
      dtype='object')

In [55]:
b.columns

Index(['rewards', 'brand', 'name', 'rating', 'description', 'street', 'city',
       'state', 'postal', 'url'],
      dtype='object')

In [56]:
c.columns

Index(['rewards', 'brand', 'name', 'rating', 'description', 'street', 'city',
       'state', 'postal', 'url'],
      dtype='object')

In [57]:
d.columns

Index(['rewards', 'brand', 'name', 'rating', 'description', 'street', 'city',
       'state', 'postal', 'url'],
      dtype='object')

In [58]:
e.columns

Index(['rewards', 'brand', 'name', 'rating', 'description', 'street', 'city',
       'state', 'postal', 'url'],
      dtype='object')

In [59]:
f.columns

Index(['rewards', 'brand', 'name', 'rating', 'description', 'street', 'city',
       'state', 'postal', 'url'],
      dtype='object')

In [60]:
for x in a['state']:
    print(x)

AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
AL
Alabama
AK
AK
AK
AK
AK
AK
AK
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AZ
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
AR
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CA
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CO
CT
CT
CT
CT
CT
CT
CT
CT
CT
CT
CT
CT
CT
CT
CT
CT
CT
CT
CT
CT
CT
CT
CT
CT
CT
CT
CT
CT
CT
CT
CT
CT
CT
CT
CT
CT
CT
DE
DE
DE
DE
DE
DE
DE
DE
DE
DE
DE
DE
DE
DE
DE
DC
DC
DC
DC
DC
DC
DC
DC
DC
DC
DC
DC
DC
DC
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
FL
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
GA
HI
HI
HI
HI
HI
HI
HI
HI
ID
ID
ID
ID
ID
ID
ID
ID
ID
ID
ID
ID
ID
ID
ID
ID
ID
ID
ID
ID
ID
ID
ID
ID
ID
Idaho
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IL
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
IN
PA
PA
Indiana
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
IA
KS
KS
KS
KS
KS
KS
KS
KS
KS
KS
KS
KS
KS
KS
KS
KS
KS
KS
KS
KS
KS
KS
KS
KS
KS
KS
KS
KS
KS
KS
KS
KS
KS
KS
KS
KS
KS
MO
MO
MO
MO
MO
MO
MO
KS
KS
KS
KS
KS
MO
MO
MO
KS
KS
KS
KS
KS
KS
KS
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
KY
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
LA
ME
ME
ME
ME
ME
ME
ME
ME
ME
ME
ME
ME
ME
ME
ME
ME
ME
ME
ME
ME
ME
ME
ME
ME
ME
ME
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MD
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MA
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MI
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MN
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MS
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MO
MT
MT
MT
MT
MT
MT
MT
MT
MT
MT
MT
MT
MT
MT
MT
MT
MT
MT
MT
MT
MT
MT
NE
NE
NE
NE
NE
NE
NE
NE
NE
NE
NE
NE
NE
NE
NE
NE
NE
NE
NE
NE
NE
NE
NE
NE
NE
NE
NE
NV
NV
NV
NV
NV
NV
NV
NV
NV
NV
NV
NV
NV
NV
NV
NV
NV
NV
NV
NV
NV
NV
NV
NV
NV
NV
NV
NV
NV
NV
NV
NV
NH
NH
NH
NH
NH
NH
NH
NH
NH
NH
NH
NH
NH
NH
NH
NH
NH
NH
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NJ
NM
NM
NM
NM
NM
NM
NM
NM
NM
NM
NM
NM
NM
NM
NM
NM
NM
NM
NM
NM
NM
NM
NM
NM
NM
NM
NM
NM
NM
NM
NM
NM
NM
NM
NM
NM
NM
NM
NM
NM
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NY
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
<span class="property-North Carolina</span>
ND
ND
ND
ND
ND
ND
ND
ND
ND
ND
ND
ND
ND
ND
ND
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OH
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OR
OR
OR
OR
OR
OR
OR
OR
OR
OR
OR
OR
OR
OR
OR
OR
OR
OR
OR
OR
OR
OR
OR
OR
OR
OR
OR
OR
OR
OR
OR
OR
OR
OR
OR
OR
OR
OR
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
PA
RI
RI
RI
RI
RI
RI
RI
RI
RI
RI
RI
RI
RI
RI
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SC
SD
SD
SD
SD
SD
SD
SD
SD
SD
SD
SD
SD
SD
SD
SD
SD
SD
SD
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TN
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
TX
Texas
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
UT
VT
VT
VT
VT
VT
VT
VT
VT
VT
VT
VT
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
WV
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
WV
WV
WV
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
VA
WV
WV
WV
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WA
WV
WV
WV
WV
WV
WV
WV
WV
WV
WV
WV
WV
WV
WV
WV
WV
WV
WV
WV
WV
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WI
WY
WY
WY
WY
WY
WY
WY
WY
WY
WY
WY
WY
WY
WY
WY
WY
WY
WY
<span class="property-Alabama</span>
Alabama
Arizona
<span class="property-Arizona</span>
Arizona
Arizona
Arizona
Arizona
Arizona
Arizona
Arizona
Arizona
Arkansas
Arkansas
Arkansas
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
<span class="property-California</span>
California
California
California
California
California
California
California
<span class="property-California</span>
<span class="property-California</span>
Colorado
Colorado
Colorado
Colorado
Colorado
Connecticut
District of Columbia
District of Columbia
District of Columbia
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Georgia
Georgia
Georgia
Georgia
Hawaii
Hawaii
Hawaii
Hawaii
Hawaii
Hawaii
Hawaii
Hawaii
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Iowa
Iowa
<span class="property-Kansas</span>
Louisiana
Louisiana
<span class="property-Maine</span>
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Massachusetts
Massachusetts
Michigan
Michigan
Michigan
Michigan
Michigan
<span class="property-Minnesota</span>
Minnesota
<span class="property-Minnesota</span>
Minnesota
Minnesota
Mississippi
Mississippi
Mississippi
Missouri
Missouri
<span class="property-Missouri</span>
Missouri
Missouri
Nebraska
Nebraska
Nevada
Nevada
Nevada
Nevada
New Jersey
New Jersey
New Mexico
New Mexico
New Mexico
New York
New York
New York
New York
New York
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
Ohio
Ohio
Ohio
Ohio
Ohio
Oklahoma
Oklahoma
Oregon
Oregon
Oregon
Pennsylvania
Pennsylvania
Pennsylvania
Pennsylvania
Pennsylvania
South Carolina
South Carolina
South Carolina
South Carolina
South Carolina
South Carolina
South Carolina
Tennessee
Tennessee
Tennessee
Tennessee
<span class="property-Tennessee</span>
Texas
Texas
Texas
Texas
Texas
Texas
Texas
Texas
Texas
Texas
Texas
Texas
Texas
<span class="property-Texas</span>
Texas
Texas
<span class="property-Texas</span>
Texas
Texas
Texas
Texas
Texas
<span class="property-Texas</span>
Utah
Utah
Utah
Virginia
Virginia
Virginia
Virginia
Virginia
Washington
Washington
Washington
Washington
<span class="property-Wisconsin</span>

In [61]:
a['state'].value_counts()

TX                                             474
FL                                             360
CA                                             326
GA                                             210
NC                                             204
OH                                             187
NY                                             183
PA                                             181
VA                                             176
TN                                             149
IL                                             129
SC                                             121
AL                                             120
IN                                             110
CO                                             104
AZ                                              97
MI                                              94
MD                                              88
OK                                              85
NJ                                              85
KY                                              79
MA                                              78
LA                                              77
MO                                              73
WI                                              72
WA                                              67
MS                                              66
AR                                              57
UT                                              55
MN                                              54
IA                                              49
KS                                              49
NM                                              40
OR                                              38
CT                                              37
NV                                              32
WV                                              27
NE                                              27
ME                                              26
ID                                              25
Florida                                         24
California                                      23
MT                                              22
Texas                                           21
SD                                              18
NH                                              18
WY                                              18
DE                                              15
ND                                              15
DC                                              14
RI                                              14
VT                                              11
Arizona                                          9
Illinois                                         9
North Carolina                                   8
Hawaii                                           8
HI                                               8
AK                                               7
South Carolina                                   7
Maryland                                         6
Michigan                                         5
Colorado                                         5
New York                                         5
Pennsylvania                                     5
Ohio                                             5
Virginia                                         5
Nevada                                           4
Missouri                                         4
Tennessee                                        4
Georgia                                          4
Washington                                       4
<span class="property-Texas</span>               3
Minnesota                                        3
Utah                                             3
Mississippi                                      3
Oregon                                           3
New Mexico                                       3
Arkansas                                         3
<span class="property-California</span>          3
District of Columbia                             3
Alabama                                          2
Iowa                                             2
New Jersey                                       2
Louisiana                                        2
<span class="property-Minnesota</span>           2
Nebraska                                         2
Massachusetts                                    2
Oklahoma                                         2
Idaho                                            1
<span class="property-North Carolina</span>      1
<span class="property-Wisconsin</span>           1
<span class="property-Arizona</span>             1
<span class="property-Missouri</span>            1
Indiana                                          1
Connecticut                                      1
<span class="property-Maine</span>               1
<span class="property-Kansas</span>              1
<span class="property-Tennessee</span>           1
<span class="property-Alabama</span>             1
Name: state, dtype: int64

In [62]:
merged_hotels = pd.concat([a, b, c, d, e, f], ignore_index=True)

In [63]:
merged_hotels.shape

(21445, 10)

In [64]:
merged_hotels['state'].value_counts()

TX                                              1132
CA                                               748
FL                                               680
TEXAS                                            612
CALIFORNIA                                       584
Texas                                            549
FLORIDA                                          497
GA                                               492
NC                                               394
NY                                               349
OH                                               345
VA                                               344
TN                                               330
IL                                               328
PA                                               318
Florida                                          298
California                                       291
SC                                               256
MI                                               253
WI                                               253
IN                                               248
NEW YORK                                         246
CO                                               240
AL                                               235
AZ                                               232
GEORGIA                                          228
IA                                               221
NORTH CAROLINA                                   221
VIRGINIA                                         218
MO                                               211
OK                                               210
MN                                               209
PENNSYLVANIA                                     200
LA                                               197
COLORADO                                         192
OHIO                                             190
KY                                               190
Georgia                                          188
ILLINOIS                                         187
AR                                               171
WA                                               169
Pennsylvania                                     162
Ohio                                             161
North Carolina                                   161
MD                                               159
Illinois                                         157
MS                                               157
New York                                         153
Virginia                                         150
MICHIGAN                                         150
NJ                                               145
Michigan                                         145
TENNESSEE                                        143
NM                                               141
ARIZONA                                          141
MASSACHUSETTS                                    138
KS                                               137
UT                                               130
Tennessee                                        127
SOUTH CAROLINA                                   124
Indiana                                          122
INDIANA                                          117
NEW JERSEY                                       117
MA                                               111
MARYLAND                                         106
OR                                               102
South Carolina                                    99
MISSOURI                                          98
Wisconsin                                         96
MINNESOTA                                         95
SD                                                94
Oklahoma                                          94
Minnesota                                         93
WASHINGTON                                        93
Missouri                                          92
LOUISIANA                                         90
ALABAMA                                           87
NE                                                86
Louisiana                                         83
MT                                                83
Arizona                                           81
Kentucky                                          80
Maryland                                          80
KENTUCKY                                          79
NV                                                79
Colorado                                          78
WV                                                77
UTAH                                              76
Alabama                                           76
WY                                                75
CT                                                75
WISCONSIN                                         74
ND                                                71
OKLAHOMA                                          71
Iowa                                              70
Kansas                                            68
Arkansas                                          67
Washington                                        66
ID                                                60
New Jersey                                        60
Mississippi                                       58
HAWAII                                            55
NEVADA                                            55
CONNECTICUT                                       53
OREGON                                            52
IOWA                                              52
Nebraska                                          51
KANSAS                                            51
Oregon                                            51
Massachusetts                                     49
ME                                                47
NEW MEXICO                                        47
Utah                                              42
ARKANSAS                                          42
New Mexico                                        41
MISSISSIPPI                                       40
NEBRASKA                                          35
South Dakota                                      33
West Virginia                                     31
NH                                                31
Nevada                                            28
WEST VIRGINIA                                     27
IDAHO                                             27
North Dakota                                      27
DISTRICT OF COLUMBIA                              27
NEW HAMPSHIRE                                     27
CA                                                26
DE                                                26
RI                                                25
HI                                                24
Connecticut                                       23
Wyoming                                           22
Montana                                           21
Idaho                                             20
AK                                                20
FL                                                20
VT                                                19
DELAWARE                                          19
MONTANA                                           18
New Hampshire                                     17
MAINE                                             17
DC                                                16
SOUTH DAKOTA                                      16
RHODE ISLAND                                      16
NORTH DAKOTA                                      15
ALASKA                                            14
WYOMING                                           14
Delaware                                          11
VERMONT                                           11
Hawaii                                            10
Maine                                              9
DC                                                 8
WA                                                 8
Rhode Island                                       8
IL                                                 8
Vermont                                            6
MA                                                 6
OR                                                 6
District of Columbia                               6
PA                                                 6
NC                                                 6
Alaska                                             5
TX                                                 4
Las Vegas                                          4
San Francisco                                      4
Los Angeles                                        4
Cleveland                                          4
GA                                                 4
NY                                                 4
CO                                                 4
<span class="property-California</span>            3
<span class="property-Texas</span>                 3
LA                                                 2
<span class="property-Minnesota</span>             2
OH                                                 2
Minneapolis                                        2
Doral                                              2
New Orleans                                        2
Boston                                             2
Houston                                            2
AZ                                                 2
Monterey                                           2
Atlanta                                            2
VA                                                 2
San Diego                                          2
TN                                                 2
UT                                                 2
Austin                                             2
Kansas City                                        2
WI                                                 2
MD                                                 2
VT                                                 2
NE                                                 2
St. Paul                                           2
Chicago                                            2
MT                                                 2
Miami                                              2
Pennsylvania                                       1
Illinois61704                                      1
New York14830                                      1
<span class="property-Arizona</span>               1
Pennsylvania17011                                  1
                                        Char       1
Virginia                                           1
California9                                        1
California                                         1
                                        La C       1
<span class="property-Maine</span>                 1
New York 1483                                      1
<span class="property-Wisconsin</span>             1
Illinois61036                                      1
<span class="property-Kansas</span>                1
<span class="property-Alabama</span>               1
Georgia31904                                       1
<span class="property-North Carolina</span>        1
<span class="property-Tennessee</span>             1
<span class="property-Missouri</span>              1
Name: state, dtype: int64

In [65]:
for x in merged_hotels['state']:
    try:
        x = x.upper()
    except:
        pass

In [66]:
newstate = []
for x in merged_hotels['state']:
    try:
        x = x.upper()
        newstate.append(x)
    except:
        newstate.append(x)

In [67]:
len(newstate)

21445

In [68]:
merged_hotels['state'] = newstate

In [69]:
merged_hotels.head(5)

,rewards,brand,name,rating,description,street,city,state,postal,url
0,Hilton,Hampton Inn,Hampton Inn Alexander City,4,"We’re right off Highway 280, 25 minutes away f...",1551 Elkahatchee Road,Alexander City,AL,35010,https://hamptoninn3.hilton.com/en/hotels/alaba...
1,Hilton,Hampton Inn,Hampton Inn Wetumpka,5,"We’re on the banks of the Coosa River, a short...",350 South Main Street,Wetumpka,AL,36092,https://hamptoninn3.hilton.com/en/hotels/alaba...
2,Hilton,Hampton Inn,Hampton Inn Auburn,4,"We're off I-85, under 10 minutes from Chewacla...",2430 S. College St.,Auburn,AL,36832,https://hamptoninn3.hilton.com/en/hotels/alaba...
3,Hilton,Tru,Tru by Hilton Auburn,4,"Make this Tru by Hilton your own. We’ll help, ...",2411 W Pace Blvd,Auburn,AL,36830,https://tru3.hilton.com/en/hotels/alabama/tru-...
4,Hilton,Hilton Garden Inn,Hilton Garden Inn Auburn/Opelika,4,"Our hotel is just off I-85, minutes away from ...",2555 Hilton Garden Drive,Auburn,AL,36830,https://hiltongardeninn3.hilton.com/en/hotels/...

In [70]:
merged_hotels['state'].value_counts()

TEXAS                                           1161
TX                                              1132
CALIFORNIA                                       875
FLORIDA                                          795
CA                                               748
FL                                               680
GA                                               492
GEORGIA                                          416
NEW YORK                                         399
NC                                               394
NORTH CAROLINA                                   382
VIRGINIA                                         368
PENNSYLVANIA                                     362
OHIO                                             351
NY                                               349
OH                                               345
VA                                               344
ILLINOIS                                         344
TN                                               330
IL                                               328
PA                                               318
MICHIGAN                                         295
COLORADO                                         270
TENNESSEE                                        270
SC                                               256
MI                                               253
WI                                               253
IN                                               248
CO                                               240
INDIANA                                          239
AL                                               235
AZ                                               232
SOUTH CAROLINA                                   223
ARIZONA                                          222
IA                                               221
MO                                               211
OK                                               210
MN                                               209
LA                                               197
MISSOURI                                         190
KY                                               190
MINNESOTA                                        188
MASSACHUSETTS                                    187
MARYLAND                                         186
NEW JERSEY                                       177
LOUISIANA                                        173
AR                                               171
WISCONSIN                                        170
WA                                               169
OKLAHOMA                                         165
ALABAMA                                          163
WASHINGTON                                       159
KENTUCKY                                         159
MD                                               159
MS                                               157
NJ                                               145
NM                                               141
KS                                               137
UT                                               130
IOWA                                             122
KANSAS                                           119
UTAH                                             118
MA                                               111
ARKANSAS                                         109
OREGON                                           103
OR                                               102
MISSISSIPPI                                       98
SD                                                94
NEW MEXICO                                        88
NE                                                86
NEBRASKA                                          86
NEVADA                                            83
MT                                                83
NV                                                79
WV                                                77
CONNECTICUT                                       76
WY                                                75
CT                                                75
ND                                                71
HAWAII                                            65
ID                                                60
WEST VIRGINIA                                     58
SOUTH DAKOTA                                      49
ME                                                47
IDAHO                                             47
NEW HAMPSHIRE                                     44
NORTH DAKOTA                                      42
MONTANA                                           39
WYOMING                                           36
DISTRICT OF COLUMBIA                              33
NH                                                31
DELAWARE                                          30
DE                                                26
CA                                                26
MAINE                                             26
RI                                                25
RHODE ISLAND                                      24
HI                                                24
AK                                                20
FL                                                20
VT                                                19
ALASKA                                            19
VERMONT                                           17
DC                                                16
WA                                                 8
DC                                                 8
IL                                                 8
PA                                                 6
MA                                                 6
NC                                                 6
OR                                                 6
GA                                                 4
CO                                                 4
CLEVELAND                                          4
LOS ANGELES                                        4
SAN FRANCISCO                                      4
TX                                                 4
LAS VEGAS                                          4
NY                                                 4
<SPAN CLASS="PROPERTY-TEXAS</SPAN>                 3
<SPAN CLASS="PROPERTY-CALIFORNIA</SPAN>            3
OH                                                 2
WI                                                 2
DORAL                                              2
AZ                                                 2
VA                                                 2
MONTEREY                                           2
MD                                                 2
<SPAN CLASS="PROPERTY-MINNESOTA</SPAN>             2
LA                                                 2
MT                                                 2
SAN DIEGO                                          2
MIAMI                                              2
MINNEAPOLIS                                        2
ST. PAUL                                           2
HOUSTON                                            2
BOSTON                                             2
ATLANTA                                            2
NE                                                 2
KANSAS CITY                                        2
CHICAGO                                            2
UT                                                 2
NEW ORLEANS                                        2
AUSTIN                                             2
TN                                                 2
VT                                                 2
CALIFORNIA                                         1
<SPAN CLASS="PROPERTY-KANSAS</SPAN>                1
<SPAN CLASS="PROPERTY-WISCONSIN</SPAN>             1
                                        LA C       1
NEW YORK14830                                      1
PENNSYLVANIA                                       1
<SPAN CLASS="PROPERTY-NORTH CAROLINA</SPAN>        1
PENNSYLVANIA17011                                  1
<SPAN CLASS="PROPERTY-MISSOURI</SPAN>              1
VIRGINIA                                           1
<SPAN CLASS="PROPERTY-ALABAMA</SPAN>               1
NEW YORK 1483                                      1
ILLINOIS61036                                      1
                                        CHAR       1
GEORGIA31904                                       1
<SPAN CLASS="PROPERTY-ARIZONA</SPAN>               1
<SPAN CLASS="PROPERTY-MAINE</SPAN>                 1
<SPAN CLASS="PROPERTY-TENNESSEE</SPAN>             1
CALIFORNIA9                                        1
ILLINOIS61704                                      1
Name: state, dtype: int64

In [71]:
statereplace = {'ALABAMA' : 'AL',
'ALASKA' : 'AK',
'ARIZONA' : 'AZ',
'ARKANSAS' : 'AR',
'CALIFORNIA' : 'CA',
'COLORADO' : 'CO',
'CONNECTICUT' : 'CT',
'DELAWARE' : 'DE',
'DISTRICT OF COLUMBIA' : 'DC',
'FLORIDA' : 'FL',
'GEORGIA' : 'GA',
'HAWAII' : 'HI',
'IDAHO' : 'ID',
'ILLINOIS' : 'IL',
'INDIANA' : 'IN',
'IOWA' : 'IA',
'KANSAS' : 'KS',
'KENTUCKY' : 'KY',
'LOUISIANA' : 'LA',
'MAINE' : 'ME',
'MARYLAND' : 'MD',
'MASSACHUSETTS' : 'MA',
'MICHIGAN' : 'MI', 
'MINNESOTA' : 'MN',
'MISSISSIPPI' : 'MS',
'MISSOURI' : 'MO',
'MONTANA' : 'MT',
'NEBRASKA' : 'NE',
'NEVADA' : 'NV',
'NEW HAMPSHIRE' : 'NH',
'NEW JERSEY' : 'NJ',
'NEW MEXICO' : 'NM', 
'NEW YORK' : 'NY',
'NORTH CAROLINA' : 'NC',
'NORTH DAKOTA' : 'ND',
'OHIO' : 'OH',
'OKLAHOMA' : 'OK',
'OREGON' : 'OR',
'PENNSYLVANIA' : 'PA',
'RHODE ISLAND' : 'RI',
'SOUTH CAROLINA' : 'SC',
'SOUTH DAKOTA' : 'SD',
'TENNESSEE' : 'TN',
'TEXAS' : 'TX',
'UTAH' : 'UT',
'VERMONT' : 'VT',
'VIRGINIA' : 'VA',
'WASHINGTON' : 'WA',
'WEST VIRGINIA' : 'WV',
'WISCONSIN' : 'WI',
'WYOMING' : 'WY'}

In [72]:
merged_hotels['state'] = merged_hotels['state'].replace(statereplace)

In [73]:
merged_hotels['state'] = merged_hotels['state'].str.strip()

In [74]:
merged_hotels['state'].value_counts()

TX                                             2297
CA                                             1649
FL                                             1495
GA                                              912
NC                                              782
NY                                              752
VA                                              714
OH                                              698
PA                                              686
IL                                              680
TN                                              602
MI                                              548
CO                                              514
IN                                              487
SC                                              479
AZ                                              456
WI                                              425
MO                                              401
AL                                              398
MN                                              397
OK                                              375
LA                                              372
KY                                              349
MD                                              347
IA                                              343
WA                                              336
NJ                                              322
MA                                              304
AR                                              280
KS                                              256
MS                                              255
UT                                              250
NM                                              229
OR                                              211
NE                                              174
NV                                              162
CT                                              151
SD                                              143
WV                                              135
MT                                              124
ND                                              113
WY                                              111
ID                                              107
HI                                               89
NH                                               75
ME                                               73
DC                                               57
DE                                               56
RI                                               49
AK                                               39
VT                                               38
CLEVELAND                                         4
SAN FRANCISCO                                     4
LAS VEGAS                                         4
LOS ANGELES                                       4
<SPAN CLASS="PROPERTY-CALIFORNIA</SPAN>           3
<SPAN CLASS="PROPERTY-TEXAS</SPAN>                3
MONTEREY                                          2
DORAL                                             2
CHICAGO                                           2
AUSTIN                                            2
NEW ORLEANS                                       2
BOSTON                                            2
<SPAN CLASS="PROPERTY-MINNESOTA</SPAN>            2
SAN DIEGO                                         2
MIAMI                                             2
MINNEAPOLIS                                       2
ST. PAUL                                          2
HOUSTON                                           2
ATLANTA                                           2
KANSAS CITY                                       2
LA C                                              1
ILLINOIS61704                                     1
<SPAN CLASS="PROPERTY-WISCONSIN</SPAN>            1
<SPAN CLASS="PROPERTY-NORTH CAROLINA</SPAN>       1
NEW YORK14830                                     1
PENNSYLVANIA17011                                 1
<SPAN CLASS="PROPERTY-MISSOURI</SPAN>             1
NEW YORK 1483                                     1
CALIFORNIA                                        1
<SPAN CLASS="PROPERTY-ARIZONA</SPAN>              1
<SPAN CLASS="PROPERTY-KANSAS</SPAN>               1
<SPAN CLASS="PROPERTY-MAINE</SPAN>                1
CHAR                                              1
<SPAN CLASS="PROPERTY-ALABAMA</SPAN>              1
CALIFORNIA9                                       1
GEORGIA31904                                      1
PENNSYLVANIA                                      1
<SPAN CLASS="PROPERTY-TENNESSEE</SPAN>            1
ILLINOIS61036                                     1
VIRGINIA                                          1
Name: state, dtype: int64

In [75]:
statereplace2 = {'GEORGIA31904' : 'GA', 'NEW YORK 1483' : 'NY', '<SPAN CLASS="PROPERTY-MISSOURI</SPAN>' : 'MO', 
                '<SPAN CLASS="PROPERTY-ARIZONA</SPAN>' : 'AZ', 'CALIFORNIA9' : 'CA', 'ILLINOIS61704' : 'IL', 
                '<SPAN CLASS="PROPERTY-MAINE</SPAN>' : 'ME', '<SPAN CLASS="PROPERTY-NORTH CAROLINA</SPAN>' : 'NC',
                '<SPAN CLASS="PROPERTY-KANSAS</SPAN>' : 'KS', '<SPAN CLASS="PROPERTY-ALABAMA</SPAN>' : 'AL', 
                '<SPAN CLASS="PROPERTY-WISCONSIN</SPAN>' : 'WI', '<SPAN CLASS="PROPERTY-TENNESSEE</SPAN>' : 'TN',
                '<SPAN CLASS="PROPERTY-MINNESOTA</SPAN>' : 'MN', '<SPAN CLASS="PROPERTY-CALIFORNIA</SPAN>' : 'CA',
                '<SPAN CLASS="PROPERTY-TEXAS</SPAN>' : 'TX'}

In [76]:
merged_hotels['state'] = merged_hotels['state'].replace(statereplace2)

In [77]:
merged_hotels['state'].value_counts()

TX                   2300
CA                   1653
FL                   1495
GA                    913
NC                    783
NY                    753
VA                    714
OH                    698
PA                    686
IL                    681
TN                    603
MI                    548
CO                    514
IN                    487
SC                    479
AZ                    457
WI                    426
MO                    402
MN                    399
AL                    399
OK                    375
LA                    372
KY                    349
MD                    347
IA                    343
WA                    336
NJ                    322
MA                    304
AR                    280
KS                    257
MS                    255
UT                    250
NM                    229
OR                    211
NE                    174
NV                    162
CT                    151
SD                    143
WV                    135
MT                    124
ND                    113
WY                    111
ID                    107
HI                     89
NH                     75
ME                     74
DC                     57
DE                     56
RI                     49
AK                     39
VT                     38
CLEVELAND               4
LOS ANGELES             4
LAS VEGAS               4
SAN FRANCISCO           4
DORAL                   2
AUSTIN                  2
MONTEREY                2
CHICAGO                 2
SAN DIEGO               2
MIAMI                   2
ATLANTA                 2
MINNEAPOLIS             2
ST. PAUL                2
HOUSTON                 2
BOSTON                  2
KANSAS CITY             2
NEW ORLEANS             2
LA C                    1
ILLINOIS61036           1
PENNSYLVANIA            1
CHAR                    1
NEW YORK14830           1
CALIFORNIA              1
PENNSYLVANIA17011       1
VIRGINIA                1
Name: state, dtype: int64

In [78]:
merged_hotels.isnull().sum()

rewards          0
brand          137
name             0
rating          92
description     27
street          74
city            74
state           78
postal          74
url              0
dtype: int64

In [79]:
merged_hotels2 = merged_hotels[~merged_hotels['state'].isnull()]
merged_hotels2.shape

(21367, 10)

In [80]:
merged_hotels2.isnull().sum()

rewards          0
brand          137
name             0
rating          92
description     27
street           0
city             0
state            0
postal           0
url              0
dtype: int64

In [81]:
merged_hotels2[merged_hotels2['brand'].isnull()]

,rewards,brand,name,rating,description,street,city,state,postal,url
9636,Marriott,NaN,Aloft Birmingham Soho Square,4.2,[ Surrounded by the chic boutiques and renowne...,1903 29th Avenue South,Homewood,AL,35209,https://www.marriott.com/BHMAL
9637,Marriott,NaN,Aloft Glendale at Westgate,4.4,[ Change it up at Aloft® Hotels Glendale at We...,6920 North 93rd Avenue,Glendale,AZ,85305,https://www.marriott.com/PHXAW
9638,Marriott,NaN,Aloft Phoenix-Airport,4.1,[ Enjoy yourself at Aloft Phoenix-Airport. Our...,4450 East Washington,Phoenix,AZ,85034,https://www.marriott.com/PHXXL
9639,Marriott,NaN,Aloft Scottsdale,4.0,[ Experience an exceptional stay in a desirabl...,4415 North Civic Center Plaza,Scottsdale,AZ,85251,https://www.marriott.com/PHXSD
9640,Marriott,NaN,Aloft Tempe,3.8,[ Just a mile from Arizona State University (A...,951 East Playa Del Norte Drive,Tempe,AZ,85281,https://www.marriott.com/PHXAL
9641,Marriott,NaN,Aloft Tucson University,4.1,[ Trendy style blends with a convenient locati...,1900 East Speedway Boulevard,Tucson,AZ,85719,https://www.marriott.com/TUSAL
9642,Marriott,NaN,Aloft Rogers-Bentonville,4.1,[ Surrounded by an endless array of attraction...,1103 South 52nd Street,Rogers,AR,72758,https://www.marriott.com/ROGAL
9643,Marriott,NaN,Aloft Cupertino,4.0,[ A celebration of style and comfort awaits yo...,10165 North De Anza Boulevard,Cupertino,CA,95014,https://www.marriott.com/SJCUP
9644,Marriott,NaN,Aloft Dublin-Pleasanton,4.4,[ Technology and taste collide at the brand-ne...,4075 Grafton Street,Dublin,CA,94568,https://www.marriott.com/OAKAL
9645,Marriott,NaN,Aloft El Segundo - Los Angeles Airport,4.0,[ Enjoy yourself at Aloft El Segundo - Los Ang...,475 North Pacific Coast Highway,El Segundo,CA,90245,https://www.marriott.com/LAXLA
9646,Marriott,NaN,Aloft San Francisco Airport,4.1,"[ Experience the hippest hotel in the area, Al...",401 East Millbrae Avenue,Millbrae,CA,94030,https://www.marriott.com/SFOAL
9647,Marriott,NaN,Aloft Mountain View,3.3,[ Aloft Mountain View is open in space and spi...,840 East El Camino Real,Mountain View,CA,94040,https://www.marriott.com/SJCAM
9648,Marriott,NaN,Aloft Silicon Valley,4.1,[ Take your travel experience to the next leve...,8200 Gateway Boulevard,Newark,CA,94560,https://www.marriott.com/SJCAL
9649,Marriott,NaN,Aloft Ontario-Rancho Cucamonga,3.7,[ Whether you're traveling for business or lei...,10480 Fourth Street,Rancho Cucamonga,CA,91730,https://www.marriott.com/ONTAL
9650,Marriott,NaN,Aloft San Jose Cupertino,4.4,"[ Presenting loft-style rooms, a cabana pool a...",4241 Moorpark Avenue,San Jose,CA,95129,https://www.marriott.com/SJCJC
9651,Marriott,NaN,Aloft Santa Clara,4.5,"[ Part of the America Center complex, Aloft Sa...",510 America Center Court,San Jose,CA,95002,https://www.marriott.com/SJCSL
9652,Marriott,NaN,Aloft Sunnyvale,4.4,[ Stay at the Aloft Sunnyvale and enjoy our lo...,170 South Sunnyvale Avenue,Sunnyvale,CA,94086,https://www.marriott.com/SJCVL
9653,Marriott,NaN,Aloft Denver Airport at Gateway Park,3.9,[ Soar to new heights in the Rockies at the ur...,16470 East 40th Circle,Aurora,CO,80011,https://www.marriott.com/DENIA
9654,Marriott,NaN,Aloft Broomfield Denver,4.1,[ Travel to the Mile High City and stay in sty...,8300 Arista Place,Broomfield,CO,80021,https://www.marriott.com/DENAL
9655,Marriott,NaN,Aloft Denver Downtown,4.3,[ Celebrate your style at Aloft Denver Downtow...,800 15th Street,Denver,CO,80202,https://www.marriott.com/DENDW
9656,Marriott,NaN,Aloft Miami Aventura,4.2,"[ If you skip to the beat of your own drum, th...",2910 NE 207th Street,Aventura,FL,33180,https://www.marriott.com/MIAAA
9657,Marriott,NaN,Aloft Coral Gables,4.5,[ An easy breezy adventure awaits for you in S...,2524 South Le Jeune Road,Coral Gables,FL,33134,https://www.marriott.com/MIACL
9658,Marriott,NaN,Aloft Delray Beach,4.4,[ Experience our premier location at Aloft Del...,202 SE 5th Avenue,Delray Beach,FL,33483,https://www.marriott.com/PBIAY
9659,Marriott,NaN,Aloft Miami Doral,4.0,"[ Celebrate open spaces, open thinking and ope...",3265 NW 107th Avenue,Doral,FL,33172,https://www.marriott.com/MIAAL
9660,Marriott,NaN,Aloft Gainesville University Area,4.5,[ Celebrate your style at Aloft Gainesville Un...,3743 Hull Road,Gainesville,FL,32607,https://www.marriott.com/GNVAL
9661,Marriott,NaN,Aloft Jacksonville Airport,3.9,[ NEWLY RENOVATED! Celebrate your style in Flo...,751 Skymarks Drive,Jacksonville,FL,32218,https://www.marriott.com/JAXAL
9662,Marriott,NaN,Aloft Jacksonville Tapestry Park,4.3,[ Forget having a traditional travel experienc...,4812 Deer Lake Drive West,Jacksonville,FL,32246,https://www.marriott.com/JAXTL
9663,Marriott,NaN,Aloft Miami - Brickell,4.0,[ Take your travel experience to a whole new l...,1001 SW 2nd Avenue,Miami,FL,33130,https://www.marriott.com/MIABA
9664,Marriott,NaN,Aloft Miami Airport,4.5,"[ Celebrate your style at Aloft Miami Airport,...",7220 Northwest 36th Street,Miami,FL,33166,https://www.marriott.com/MIALA
9665,Marriott,NaN,Aloft Miami Dadeland,4.0,"[ Open spaces, open thinking and open expressi...",7600 North Kendall Drive,Miami,FL,33156,https://www.marriott.com/MIAMD
9666,Marriott,NaN,Aloft Orlando Downtown,4.2,[ Celebrate your style at Aloft Orlando Downto...,500 South Orange Avenue,Orlando,FL,32801,https://www.marriott.com/MCODL
9667,Marriott,NaN,Aloft Sarasota,4.3,[ Transform any stay into a vibrant getaway at...,1401 Ringling Boulevard,Sarasota,FL,34236,https://www.marriott.com/SRQAL
9668,Marriott,NaN,Aloft Tallahassee Downtown,4.5,[ Experience the trendy yet welcoming atmosphe...,200 North Monroe Street,Tallahassee,FL,32301,https://www.marriott.com/TLHAL
9669,Marriott,NaN,Aloft Tampa Downtown,4.0,"[ Located right in the heart of the city, alon...",100 West Kennedy Boulevard,Tampa,FL,33602,https://www.marriott.com/TPATL
9670,Marriott,NaN,Aloft Alpharetta,4.4,"[ Open spaces, open thinking and open expressi...",7895 North Point Parkway,Alpharetta,GA,30022,https://www.marriott.com/ATLLA
9671,Marriott,NaN,Aloft Atlanta Downtown,3.9,[ Stimulate your senses at Aloft Atlanta Downt...,300 Ted Turner Drive NW,Atlanta,GA,30308,https://www.marriott.com/ATLDN
9672,Marriott,NaN,Aloft Bolingbrook,4.1,[ An easy breezy adventure awaits at our mobil...,500 North Janes Avenue,Bolingbrook,IL,60440,https://www.marriott.com/CHIOL
9673,Marriott,NaN,Aloft Chicago Mag Mile,4.5,"[ If you're looking to discover Chicago, you'v...",243 East Ontario Street,Chicago,IL,60611,https://www.marriott.com/CHIAA
9674,Marriott,NaN,Aloft Chicago O'Hare,4.0,[ Your hotel near the airport doesn’t need to ...,9700 Balmoral Avenue,Rosemont,IL,60018,https://www.marriott.com/CHIAL
9675,Marriott,NaN,Aloft South Bend,4.4,[ Embrace a stylish travel experience at Aloft...,111 North Main Street,South Bend,IN,46601,https://www.marriott.com/SBNAL
9676,Marriott,NaN,Aloft Leawood-Overland Park,3.7,[ Set your sights on a refreshing getaway at A...,11620 Ash Street,Leawood,KS,66211,https://www.marriott.com/MCIAL
9677,Marriott,NaN,Aloft Wichita,4.4,"[ Celebrate your style at Aloft Wichita, a hip...",3642 N. Oliver,Wichita,KS,67220,https://www.marriott.com/ICTAL
9678,Marriott,NaN,Aloft Louisville East,4.5,[ Discover a hotel that's just as fashionable ...,10700 Westport Road,Louisville,KY,40241,https://www.marriott.com/SDFAL
9679,Marriott,NaN,Aloft Newport on the Levee,4.2,[ Situated just across the river from downtown...,201 East 3rd Street,Newport,KY,41071,https://www.marriott.com/CVGPL
9680,Marriott,NaN,Aloft New Orleans Downtown,4.1,[ Get into the swing of things at Aloft New Or...,225 Baronne Street,New Orleans,LA,70112,https://www.marriott.com/MSYAL
9681,Marriott,NaN,Aloft Arundel Mills BWI Airport,3.7,"[ Easy, breezy adventure awaits at Aloft Arund...",7520 Teague Road,Hanover,MD,21076,https://www.marriott.com/BWIMA
9682,Marriott,NaN,Aloft BWI Baltimore Washington International A...,3.5,[ Travel in style when you stay at Aloft BWI B...,1741 West Nursery Road,Linthicum,MD,21090,https://www.marriott.com/BWIAL
9683,Marriott,NaN,Aloft Ocean City,4.7,[ Hit the heart of Ocean City live and up clos...,4501 Coastal Highway,Ocean City,MD,21842,https://www.marriott.com/SBYAL
9684,Marriott,NaN,Aloft Boston Seaport District,4.2,"[ Surrounded by attractions, nightlife, clubs ...",401-403 D Street,Boston,MA,02210,https://www.marriott.com/BOSAL
9685,Marriott,NaN,Aloft Lexington,4.1,[ Adventure is just around the corner at Aloft...,727 Marrett Road - A,Lexington,MA,02421,https://www.marriott.com/BOSXL
9686,Marriott,NaN,Aloft Detroit at The David Whitney,4.4,[ Take your upcoming travel experience to the ...,One Park Avenue,Detroit,MI,48226,https://www.marriott.com/DTWAL
9687,Marriott,NaN,Aloft Minneapolis,4.1,[ Aloft Minneapolis is a bold hotel featuring ...,900 Washington Avenue South,Minneapolis,MN,55415,https://www.marriott.com/MSPAL
9688,Marriott,NaN,Aloft Mount Laurel,4.0,[ Keep the party going at Aloft Mount Laurel. ...,558 Fellowship Road,Mount Laurel,NJ,08054,https://www.marriott.com/PHLAL
9689,Marriott,NaN,Aloft New York Brooklyn,4.0,[ Celebrate your style at Aloft New York Brook...,216 Duffield Street,Brooklyn,NY,11201,https://www.marriott.com/NYCYL
9690,Marriott,NaN,Aloft Buffalo Airport,4.2,[ Get ready to mingle with new friends and net...,4219 Genesee Street,Buffalo,NY,14225,https://www.marriott.com/BUFAL
9691,Marriott,NaN,Aloft Buffalo Downtown,4.3,[ Buffalo's newest gem shines bright at Aloft ...,500 Pearl Street,Buffalo,NY,14202,https://www.marriott.com/BUFAD
9692,Marriott,NaN,Aloft New York LaGuardia Airport,4.2,[ Style fuses with comfort at Aloft New York L...,100-15 Ditmars Boulevard,East Elmhurst,NY,11369,https://www.marriott.com/LGAAL
9693,Marriott,NaN,Aloft Long Island City-Manhattan View,4.3,[ Embrace the upbeat lifestyle of Aloft Long I...,27-45 Jackson Avenue,Long Island City,NY,11101,https://www.marriott.com/ISPVA
9694,Marriott,NaN,Aloft Harlem,4.4,"[ Our vibrant, tech-savvy hotel is less than a...",2296 Frederick Douglass Boulevard,New York,NY,10027,https://www.marriott.com/NYCLH
9695,Marriott,NaN,Aloft Manhattan Downtown - Financial District,4.2,[ Experience a different kind of stay at Aloft...,49-53 Ann Street,New York,NY,10038,https://www.marriott.com/NYCAL
9696,Marriott,NaN,Aloft Syracuse Inner Harbor,4.1,[ Explore the heart of New York during your ge...,310 West Kirkpatrick Street,Syracuse,NY,13204,https://www.marriott.com/SYRAL
9697,Marriott,NaN,Aloft Asheville Downtown,4.4,"[ Discover a chic, urban lifestyle experience ...",51 Biltmore Avenue,Asheville,NC,28801,https://www.marriott.com/AVLAL
9698,Marriott,NaN,Aloft Chapel Hill,4.2,[ Celebrate your style at the recently renovat...,1001 South Hamilton Road,Chapel Hill,NC,27517,https://www.marriott.com/RDUCL
9699,Marriott,NaN,Aloft Charlotte Ballantyne,4.7,[ Make a splash at Aloft Charlotte Ballantyne....,13139 Ballantyne Corporate Place,Charlotte,NC,28277,https://www.marriott.com/CLTAL
9700,Marriott,NaN,Aloft Charlotte Uptown at the EpiCentre,3.7,[ Offering an open and welcoming vibe within w...,210 East Trade Street,Charlotte,NC,28202,https://www.marriott.com/CLTUL
9701,Marriott,NaN,Aloft Durham Downtown,4.4,[ Immerse yourself in the excitement of Bull C...,345 Blackwell Street,Durham,NC,27701,https://www.marriott.com/RDULD
9702,Marriott,NaN,Aloft Raleigh-Durham Airport Brier Creek,4.2,[ Celebrate your style at Aloft Raleigh-Durham...,10020 Sellona Street,Raleigh,NC,27617,https://www.marriott.com/RDUAF
9703,Marriott,NaN,Aloft Cleveland Beachwood,4.0,[ Enjoy a fun and memorable stay at Aloft Clev...,1010 Eaton Boulevard,Beachwood,OH,44122,https://www.marriott.com/CLEBE
9704,Marriott,NaN,Aloft Cleveland Downtown,4.0,[ The perfect melody of comfort and style come...,1111 West 10th Street,Cleveland,OH,44113,https://www.marriott.com/CLEAL
9705,Marriott,NaN,Aloft Cleveland Airport,4.1,"[ Open spaces, open thinking and open expressi...",5550 Great Northern Boulevard,North Olmsted,OH,44070,https://www.marriott.com/CLEAA
9706,Marriott,NaN,Aloft Cincinnati West Chester,4.3,[ Express yourself at Aloft Cincinnati West Ch...,9183 Centre Point Drive,West Chester,OH,45069,https://www.marriott.com/CVGAW
9707,Marriott,NaN,Aloft Columbus Westerville,4.4,[ Trendy style blends with a premier location ...,32 Heatherdown Drive,Westerville,OH,43081,https://www.marriott.com/CMHAW
9708,Marriott,NaN,Aloft Oklahoma City Downtown - Bricktown,4.0,[ Redefine the ordinary at Aloft Oklahoma City...,209 North Walnut Avenue,Oklahoma City,OK,73104,https://www.marriott.com/OKCAL
9709,Marriott,NaN,Aloft Tulsa,3.6,[ Surrounded by a multitude of the city's most...,6716 S. 104th East Avenue,Tulsa,OK,74133,https://www.marriott.com/TULTL
9710,Marriott,NaN,Aloft Tulsa Downtown,4.0,[ Check in for a stay full of style and comfor...,200 Civic Center,Tulsa,OK,74103,https://www.marriott.com/TULAL
9711,Marriott,NaN,Aloft Hillsboro-Beaverton,4.0,[ Discover the comfort and convenience you cra...,1705 Northeast Amberglen Ct.,Hillsboro,OR,97006,https://www.marriott.com/PDXAH
9712,Marriott,NaN,Aloft Portland Airport at Cascade Station,4.3,[ Transform any stay into a relaxing getaway a...,9920 NE Cascades Parkway,Portland,OR,97220,https://www.marriott.com/PDXAL
9713,Marriott,NaN,Aloft Philadelphia Airport,4.1,[ Aloft Philadelphia Airport offers a complime...,4301 Island Avenue,Philadelphia,PA,19153,https://www.marriott.com/PHLAI
9714,Marriott,NaN,Aloft Philadelphia Downtown,4.4,[ Centrally located in Center City and near to...,101 North Broad Street,Philadelphia,PA,19107,https://www.marriott.com/PHLAD
9715,Marriott,NaN,Aloft Columbia Downtown,4.5,[ Celebrate your style at Aloft Columbia Downt...,823 Lady Street,Columbia,SC,29201,https://www.marriott.com/CAEAL
9716,Marriott,NaN,Aloft Columbia Harbison,4.3,[ Celebrate your style at Aloft Columbia Harbi...,217 Lanneau Court,Columbia,SC,29212,https://www.marriott.com/CAEAH
9717,Marriott,NaN,Aloft Greenville Downtown,4.6,[ Experience the brightest and hippest additio...,5 North Laurens Street,Greenville,SC,29601,https://www.marriott.com/GSPAL
9718,Marriott,NaN,Aloft Charleston Airport & Convention Center,3.4,[ Offering an open and welcoming vibe within w...,4875 Tanger Outlet Boulevard,North Charleston,SC,29418,https://www.marriott.com/CHSAL
9719,Marriott,NaN,Aloft Nashville Franklin,4.2,[ Stray from the mainstream during your stay a...,7109 South Springs Drive,Franklin,TN,37067,https://www.marriott.com/BNAAL
9720,Marriott,NaN,Aloft Nashville West End,4.1,[ Tune in &amp; turn it up at Aloft® Hotels Na...,1719 West End Avenue,Nashville,TN,37203,https://www.marriott.com/BNAWL
9721,Marriott,NaN,Aloft Dallas Arlington Entertainment District,4.4,[ Chart an unforgettable adventure at Aloft Da...,2140 East Lamar Boulevard,Arlington,TX,76006,https://www.marriott.com/DALAE
9722,Marriott,NaN,Aloft Austin Airport,3.6,[ The Aloft Austin Airport is a style-forward ...,8000 East Ben White Boulevard,Austin,TX,78741,https://www.marriott.com/AUSPA
9723,Marriott,NaN,Aloft Austin Northwest,4.5,[ Transform any stay into a relaxing getaway a...,14020 US Highway 183,Austin,TX,78717,https://www.marriott.com/AUSTL
9724,Marriott,NaN,Aloft Austin at The Domain,4.2,[ Embrace a refreshing stay at Aloft Austin at...,11601 Domain Drive,Austin,TX,78758,https://www.marriott.com/AUSAL
9725,Marriott,NaN,Aloft College Station,4.1,[ Experience vibrant social spaces at Aloft Co...,1150 University Drive East,College Station,TX,77840,https://www.marriott.com/CLLAL
9726,Marriott,NaN,Aloft Corpus Christi,4.3,[ Expect a unique travel experience when you s...,5117 Embassy Drive,Corpus Christi,TX,78411,https://www.marriott.com/CRPAL
9727,Marriott,NaN,Aloft Dallas Downtown,4.2,"[ Open spaces, open thinking and open expressi...",1033 Young Street,Dallas,TX,75202,https://www.marriott.com/DALDL
9728,Marriott,NaN,Aloft Dallas Love Field,4.0,"[ Designed to complement your sense of style, ...",2333 West Mockingbird Lane,Dallas,TX,75235,https://www.marriott.com/DALLO
9729,Marriott,NaN,Aloft El Paso Downtown,4.5,[ Celebrate your style at Aloft El Paso Downto...,303 Texas Avenue,El Paso,TX,79901,https://www.marriott.com/ELPAL
9730,Marriott,NaN,Aloft Dallas Euless,4.6,[ Enthuse your sense of adventure at Aloft Dal...,1301 Chisholm Trail,Euless,TX,76039,https://www.marriott.com/DFWAE
9731,Marriott,NaN,Aloft Fort Worth Downtown,4.3,[ Surrounded by the sights and sounds of the c...,334 W 3rd Street,Fort Worth,TX,76102,https://www.marriott.com/DFWAD
9732,Marriott,NaN,Aloft Frisco,3.9,"[ Enjoy the perfect blend of comfort, style an...",3202 Parkwood Boulevard,Frisco,TX,75034,https://www.marriott.com/DALLF
9733,Marriott,NaN,Aloft Houston Downtown,4.1,"[ Open spaces, open thinking and open expressi...",820 Fannin Street,Houston,TX,77002,https://www.marriott.com/HOUDW
9734,Marriott,NaN,Aloft Houston by the Galleria,3.9,[ Celebrate your style with Aloft Houston by t...,5415 Westheimer Road,Houston,TX,77056,https://www.marriott.com/HOUAL
9735,Marriott,NaN,Aloft Las Colinas,4.1,"[ Escape to a sophisticated stay in Irving, Te...",122 East John Carpenter Freeway,Irving,TX,75062,https://www.marriott.com/DFWAI
9736,Marriott,NaN,Aloft Houston Katy,3.9,[ Enjoy the heart of Katy live and up close. A...,25330 Kingsland Boulevard,Katy,TX,77494,https://www.marriott.com/HOUAT
9737,Marriott,NaN,Aloft Plano,4.0,"[ Lively and fresh, Aloft Plano is the perfect...",6853 North Dallas Parkway,Plano,TX,75024,https://www.marriott.com/DALNL
9738,Marriott,NaN,Aloft Richardson,4.3,[ Get the vacation momentum going at Aloft Ric...,1160 State Street,Richardson,TX,75082,https://www.marriott.com/DALLR
9739,Marriott,NaN,Aloft Austin Round Rock,3.9,"[ Move to your own beat at the bold, sleek and...",2951 Jazz Street,Round Rock,TX,78664,https://www.marriott.com/AUSAR
9740,Marriott,NaN,Aloft San Antonio Airport,4.0,[ Embrace upscale relaxation at Aloft San Anto...,838 NW Loop 410,San Antonio,TX,78216,https://www.marriott.com/SATAL
9741,Marriott,NaN,Aloft Dulles Airport North,3.6,[ Aloft Dulles Airport North provides a modern...,22390 Flagstaff Plaza,Ashburn,VA,20148,https://www.marriott.com/IADAL
9742,Marriott,NaN,Aloft Chesapeake,3.9,[ An easy breezy adventure awaits at our mobil...,1454 Crossways Boulevard,Chesapeake,VA,23320,https://www.marriott.com/ORFAL
9743,Marriott,NaN,Aloft Richmond West Short Pump,3.8,"[ Celebrate your style at Aloft Richmond West,...",3939 Duckling Drive,Glen Allen,VA,23060,https://www.marriott.com/RICAL
9744,Marriott,NaN,Aloft Seattle Redmond,4.3,[ Celebrate your style at Aloft Seattle Redmon...,"15220 NE Shen Street, Suite 150",Redmond,WA,98052,https://www.marriott.com/SEAAD
9745,Marriott,NaN,Aloft Seattle Sea-Tac Airport,4.1,"[ Open spaces, open thinking and open expressi...",19030 28th Avenue South,SeaTac,WA,98188,https://www.marriott.com/SEAAL
9746,Marriott,NaN,Aloft Green Bay,4.1,"[ For the traveler open to possibilities, Alof...",465 Pilgrim Way,Green Bay,WI,54304,https://www.marriott.com/GRBAL
9747,Marriott,NaN,Aloft Milwaukee Downtown,4.1,[ Celebrate your style at Aloft® Hotels Milwau...,1230 Old World Third Street,Milwaukee,WI,53212,https://www.marriott.com/MKEAL
14230,Marriott,NaN,Aloft Little Rock West,New Hotel,[ Feel at home during your stay in Arkansas at...,716 Rahling Road,Little Rock,AR,72223,https://www.marriott.com/LITAL
14231,Marriott,NaN,Aloft Denver North Westminster,New Hotel,[ Welcome to a bold new way to stay at Aloft D...,14780 Delaware Street,Westminster,CO,80023,https://www.marriott.com/DENAN
14232,Marriott,NaN,New: Aloft Orlando Lake Buena Vista,New Hotel,[ Located in the heart of the Orlando Theme Pa...,7950 Palm Parkway,Orlando,FL,32836,https://www.marriott.com/MCOAV
14233,Marriott,NaN,New: Aloft Tampa Midtown,New Hotel,"[ Spearheading Tampa’s transformation, The Alo...",3650 Midtown Drive,Tampa,FL,33607,https://www.marriott.com/TPAAL
14234,Marriott,NaN,Aloft Atlanta at The Battery Atlanta,New Hotel,[ Welcome to a bold new way to stay at Aloft A...,950 Battery Avenue,Atlanta,GA,30339,https://www.marriott.com/ATLAE

In [82]:
for index, row in merged_hotels2.iterrows():
    if 'Aloft' in row['name']:
        merged_hotels2['brand'][index] = 'Aloft'

/Users/chrisjohnson/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3331: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [83]:
merged_hotels2['rating'] = merged_hotels2['rating'].str.strip()

/Users/chrisjohnson/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [84]:
merged_hotels2 = merged_hotels2[~merged_hotels2['rating'].isnull()]

In [85]:
ratingreplace = {'0' : 'New Hotel', '4.5 Stars':'4.5', 'https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/4.0-MCID-5.svg' : '4',
                '4.0 Stars' : '4', 'https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/4.5-MCID-5.svg' : '4.5',
                'https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/3.5-MCID-5.svg' : '3.5', '5.0 Stars' : '5',
                'https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/3.0-MCID-5.svg' : '3', '3.5 Stars' : '3.5',
                'https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/5.0-MCID-5.svg' : '5', 
                'https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/2.5-MCID-5.svg' : '2.5', '2.0 Stars' : '2',
                 '3.0 Stars' : '3', 'https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/2.0-MCID-5.svg' : '2',
                 'https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/0.0-MCID-5.svg' : '0', 'nager' : 'New Hotel'
                }
merged_hotels2['rating'] = merged_hotels2['rating'].replace(ratingreplace)

In [86]:
merged_hotels2['rating'].value_counts()

4.5          5517
4            2162
3.5          2010
4.0          1649
4.6          1598
3.0          1345
4.4          1305
4.7          1235
New Hotel     773
4.3           767
2.5           659
4.8           615
4.2           493
4.1           302
5             188
2.0           166
3.9           119
4.9           116
3.8            56
3              51
5.0            44
3.7            34
3.6            19
1.5            13
2              11
3.4             5
0.0             5
3.3             4
1.0             3
1               2
4,5             2
4,6             1
2.8             1
0               1
2.9             1
1.8             1
4,7             1
3.1             1
Name: rating, dtype: int64

In [87]:
newrating = []
for x in merged_hotels2['rating']:
    try:
        x = float(x)
        if x == 5.0:
            z = 5.0
            newrating.append(z)
        elif 4.5 <= x < 5.0:
            z = 4.5
            newrating.append(z)
        elif 4.0 <= x < 4.5:
            z = 4.0
            newrating.append(z)
        elif 3.5 <= x < 4.0:
            z = 3.5
            newrating.append(z)
        elif 3.0 <= x < 3.5:
            z = 3.0
            newrating.append(z)
        elif 2.5 <= x < 3.0:
            z = 2.5
            newrating.append(z)
        elif 2.0 <= x < 2.5:
            z = 2.0
            newrating.append(z)
        elif 1.5 <= x < 2.0:
            z = 1.5
            newrating.append(z)
        elif 1.0 <= x < 1.5:
            z = 1.0
            newrating.append(z)
        elif .5 <= x < 1.0:
            z = .5
            newrating.append(z)
        elif 0.0 <= x < .5:
            z = 0.0
            newrating.append(z)
    except:
        newrating.append(x)

In [88]:
merged_hotels2['rating'] = newrating

In [89]:
replaceratings = {'4,6' : 4.5, '4,5' : 4.5, '4,7' : 4.5}

In [90]:
merged_hotels2['rating'] = merged_hotels2['rating'].replace(replaceratings)

In [91]:
merged_hotels2['rating'].value_counts()

4.5          9085
4.0          6678
3.5          2238
3.0          1406
New Hotel     773
2.5           661
5.0           232
2.0           177
1.5            14
0.0             6
1.0             5
Name: rating, dtype: int64

In [92]:
merged_hotels2.dtypes

rewards        object
brand          object
name           object
rating         object
description    object
street         object
city           object
state          object
postal         object
url            object
dtype: object

In [93]:
print(merged_hotels2['rewards'].value_counts())
print(merged_hotels2['rewards'].value_counts().sum())

Wyndham     6073
Marriott    5191
Hilton      4890
IHG         3875
Hyatt        713
Radisson     533
Name: rewards, dtype: int64
21275

In [94]:
print(merged_hotels2['brand'].value_counts())
print(merged_hotels2['brand'].value_counts().sum())

Holiday Inn Express       2257
Hampton Inn               2165
Super 8                   1474
Days Inn                  1375
Fairfield                 1050
Courtyard                 1040
La Quinta                  888
Residence Inn              841
Hilton Garden Inn          675
Holiday Inn                618
Baymont                    501
Springhill                 500
Homewood Suites            471
Home2                      455
TownPlace                  448
Country Inn & Suites       446
Candlewood                 419
Marriott                   378
Doubletree                 350
Travelodge                 335
Hyatt Place                323
Ramada                     315
Microtel                   291
Staybridge                 289
Hilton                     242
Embassy Suites             236
AmericInn                  199
Tru                        190
Sheraton                   175
Wingate                    163
Howard Johnson             159
Aloft                      137
FourPoints                 131
Westin                     124
Crowne Plaza               114
Hawthorn Suites            101
Houte House                100
Hyatt Regency               97
Destination or Unbound      97
AC Hotel                    84
Radisson                    81
Renaissance                 81
Wyndham Vacations           81
Indigo                      69
Wyndham Garden              67
Club Wyndham                67
Kimpton                     66
Curio                       58
Delta Hotels                42
Trademark                   38
JW Marriott                 32
W Hotel                     28
Tribute                     28
InterContinental            25
Moxy                        23
Hyatt Centric               22
Le Meredian                 21
Hilton Grand Vacations      21
Hyatt                       20
Luxury Collection           19
Canopy                      19
EVEN                        18
Joie De Vivre               16
Grand Hyatt                 13
TRYP                         9
St. Regis                    9
Andaz                        9
Wyndham Grand                8
Thompson                     7
Park Hyatt                   6
Park Inn                     6
Conrad                       6
MiRaval                      3
Paris                        1
Wyndham                      1
Waldorf Astoria              1
Tapestry                     1
Name: brand, dtype: int64
21275

In [95]:
print(merged_hotels2['rating'].value_counts())
print(merged_hotels2['rating'].value_counts().sum())

4.5          9085
4.0          6678
3.5          2238
3.0          1406
New Hotel     773
2.5           661
5.0           232
2.0           177
1.5            14
0.0             6
1.0             5
Name: rating, dtype: int64
21275

In [96]:
print(merged_hotels2['state'].value_counts())
print(merged_hotels2['state'].value_counts().sum())

TX                   2298
CA                   1639
FL                   1485
GA                    911
NC                    780
NY                    749
VA                    713
OH                    697
PA                    683
IL                    677
TN                    602
MI                    548
CO                    512
IN                    487
SC                    479
AZ                    456
WI                    425
MO                    402
MN                    399
AL                    399
OK                    375
LA                    371
KY                    349
MD                    346
IA                    343
WA                    330
NJ                    322
MA                    301
AR                    280
KS                    257
MS                    255
UT                    249
NM                    229
OR                    208
NE                    173
NV                    162
CT                    151
SD                    143
WV                    135
MT                    123
ND                    113
WY                    111
ID                    107
HI                     89
NH                     75
ME                     74
DE                     56
DC                     53
RI                     49
AK                     39
VT                     37
CLEVELAND               2
LAS VEGAS               2
LOS ANGELES             2
SAN FRANCISCO           2
DORAL                   1
NEW YORK14830           1
VIRGINIA                1
MONTEREY                1
CHICAGO                 1
PENNSYLVANIA17011       1
CALIFORNIA              1
SAN DIEGO               1
MIAMI                   1
ATLANTA                 1
MINNEAPOLIS             1
ST. PAUL                1
HOUSTON                 1
LA C                    1
BOSTON                  1
ILLINOIS61036           1
PENNSYLVANIA            1
CHAR                    1
KANSAS CITY             1
NEW ORLEANS             1
AUSTIN                  1
Name: state, dtype: int64
21275

In [97]:
intercontinental = merged_hotels2[merged_hotels2['brand'].str.contains('Inter')]

In [98]:
intercontinental = intercontinental.rename(columns={'city' : 'state', 'state': 'city'})
intercontinental = intercontinental[['rewards', 'brand', 'name', 'rating', 'description', 'street', 'city', 'state', 'postal', 'url']]

In [99]:
intercontinental['state'] = intercontinental['state'].str.upper()

In [100]:
intercontinental['city'] = intercontinental['city'].str.title()

In [101]:
intercontinental.head()

,rewards,brand,name,rating,description,street,city,state,postal,url
9548,IHG,InterContinental,InterContinental Hotels Los Angeles Downtown,4,\nRevel in glamour and exhilaration that defin...,900 Wilshire Boulevard,Los Angeles,CALIFORNIA,90017,https://www.ihg.com/intercontinental/hotels/us...
9549,IHG,InterContinental,InterContinental Hotels San Francisco,4,\nImmerse yourself in the heart of the city a...,888 Howard Street,San Francisco,CALIFORNIA,94103,https://www.ihg.com/intercontinental/hotels/us...
9550,IHG,InterContinental,InterContinental Hotels Mark Hopkins San Franc...,4,\nDiscover San Francisco's historic charm at t...,999 California Street,San Francisco,CALIFORNIA,94108,https://www.ihg.com/intercontinental/hotels/us...
9551,IHG,InterContinental,InterContinental Hotels Los Angeles Century City,4.5,\nEnjoy unrivaled hospitality at the InterCont...,2151 Avenue Of The Stars,Los Angeles,CALIFORNIA,90067,https://www.ihg.com/intercontinental/hotels/us...
9552,IHG,InterContinental,InterContinental Hotels San Diego,4.5,\nExuding the liveliness of the city with a so...,901 Bayfront Court,San Diego,CALIFORNIA,92101,https://www.ihg.com/intercontinental/hotels/us...

In [102]:
merged_hotels3 = merged_hotels2[~merged_hotels2['brand'].str.contains('Inter')]

In [103]:
merged_hotels3.shape

(21250, 10)

In [104]:
merged_hotels3 = pd.concat([merged_hotels3, intercontinental], ignore_index=True)

In [105]:
merged_hotels3.shape

(21275, 10)

In [106]:
print(merged_hotels3['state'].value_counts())
print(merged_hotels3['state'].value_counts().sum())

TX                      2298
CA                      1639
FL                      1485
GA                       911
NC                       780
NY                       747
VA                       713
OH                       697
PA                       683
IL                       677
TN                       602
MI                       548
CO                       512
IN                       487
SC                       479
AZ                       456
WI                       425
MO                       402
MN                       399
AL                       399
OK                       375
LA                       371
KY                       349
MD                       346
IA                       343
WA                       328
NJ                       322
MA                       301
AR                       280
KS                       257
MS                       255
UT                       249
NM                       229
OR                       208
NE                       173
NV                       162
CT                       151
SD                       143
WV                       135
MT                       123
ND                       113
WY                       111
ID                       107
HI                        89
NH                        75
ME                        74
DE                        56
DC                        53
RI                        49
AK                        39
VT                        37
CALIFORNIA                 7
DISTRICT OF COLUMBIA       2
FLORIDA                    2
NEW YORK                   2
TEXAS                      2
MINNESOTA                  2
NEVADA                     2
OHIO                       2
ILLINOIS                   1
NEW YORK14830              1
MISSOURI                   1
ILLINOIS61036              1
PENNSYLVANIA17011          1
PENNSYLVANIA               1
LOUISIANA                  1
CHAR                       1
LA C                       1
GEORGIA                    1
MASSACHUSETTS              1
VIRGINIA                   1
Name: state, dtype: int64
21275

In [107]:
merged_hotels3[merged_hotels3['state'].str.contains('CHAR')]

,rewards,brand,name,rating,description,street,city,state,postal,url
14959,Radisson,Radisson,Radisson Hotel Charlotte Airport,4.5,Unpack your bags after a 10-minute shuttle ri...,212 W Woodlawn Road,#C,CHAR,lotte,https://www.radissonhotels.com/en-us/hotels/ra...

In [108]:
statereplace3 = {'LA C' : 'WI', '200 Harborview Plaza' : 'La Crosse', 'rosse' : '54601', 'CHAR' : 'NC', 'lotte' : '28217', '#C' : 'Charlotte', 'ILLINOIS61036' : 'IL', 'PENNSYLVANIA17011' : 'PA', 'NEW YORK14830' : 'NY'}

In [109]:
merged_hotels3['state'] = merged_hotels3['state'].replace(statereplace)

In [110]:
merged_hotels3 = merged_hotels3.replace(statereplace3)

In [111]:
merged_hotels3['city'] = merged_hotels3['city'].str.strip()

In [112]:
merged_hotels3['brand'].unique()

array(['Hampton Inn', 'Tru', 'Hilton Garden Inn', 'Home2', 'Doubletree',
       'Homewood Suites', 'Curio', 'Hilton', 'Embassy Suites', 'Canopy',
       'Hilton Grand Vacations', 'Conrad', 'Waldorf Astoria', 'Tapestry',
       'Hyatt Place', 'Hyatt Regency', 'Houte House', 'Andaz', 'MiRaval',
       'Destination or Unbound', 'Joie De Vivre', 'Grand Hyatt',
       'Hyatt Centric', 'Hyatt', 'Park Hyatt', 'Thompson',
       'Holiday Inn Express', 'Holiday Inn', 'Indigo', 'Candlewood',
       'Staybridge', 'EVEN', 'Crowne Plaza', 'Kimpton', 'AC Hotel',
       'Aloft', 'Courtyard', 'Delta Hotels', 'Fairfield', 'FourPoints',
       'JW Marriott', 'Le Meredian', 'Luxury Collection', 'Marriott',
       'Moxy', 'Renaissance', 'Residence Inn', 'Sheraton', 'Springhill',
       'St. Regis', 'TownPlace', 'Tribute', 'Westin', 'W Hotel',
       'Country Inn & Suites', 'Radisson', 'Park Inn', 'Microtel',
       'Days Inn', 'Super 8', 'La Quinta', 'Ramada', 'Baymont',
       'Howard Johnson', 'Wyndham Garden', 'Wingate', 'Travelodge',
       'Trademark', 'Hawthorn Suites', 'Wyndham Vacations', 'AmericInn',
       'TRYP', 'Club Wyndham', 'Wyndham Grand', 'Wyndham', 'Paris',
       'InterContinental'], dtype=object)

In [113]:
merged_hotels3['brand'].value_counts()

Holiday Inn Express       2257
Hampton Inn               2165
Super 8                   1474
Days Inn                  1375
Fairfield                 1050
Courtyard                 1040
La Quinta                  888
Residence Inn              841
Hilton Garden Inn          675
Holiday Inn                618
Baymont                    501
Springhill                 500
Homewood Suites            471
Home2                      455
TownPlace                  448
Country Inn & Suites       446
Candlewood                 419
Marriott                   378
Doubletree                 350
Travelodge                 335
Hyatt Place                323
Ramada                     315
Microtel                   291
Staybridge                 289
Hilton                     242
Embassy Suites             236
AmericInn                  199
Tru                        190
Sheraton                   175
Wingate                    163
Howard Johnson             159
Aloft                      137
FourPoints                 131
Westin                     124
Crowne Plaza               114
Hawthorn Suites            101
Houte House                100
Hyatt Regency               97
Destination or Unbound      97
AC Hotel                    84
Radisson                    81
Renaissance                 81
Wyndham Vacations           81
Indigo                      69
Wyndham Garden              67
Club Wyndham                67
Kimpton                     66
Curio                       58
Delta Hotels                42
Trademark                   38
JW Marriott                 32
W Hotel                     28
Tribute                     28
InterContinental            25
Moxy                        23
Hyatt Centric               22
Le Meredian                 21
Hilton Grand Vacations      21
Hyatt                       20
Luxury Collection           19
Canopy                      19
EVEN                        18
Joie De Vivre               16
Grand Hyatt                 13
TRYP                         9
St. Regis                    9
Andaz                        9
Wyndham Grand                8
Thompson                     7
Park Hyatt                   6
Park Inn                     6
Conrad                       6
MiRaval                      3
Paris                        1
Wyndham                      1
Waldorf Astoria              1
Tapestry                     1
Name: brand, dtype: int64

In [114]:
brandlist = ['Hampton Inn', 'Tru', 'Hilton Garden Inn', 'Home2', 'Doubletree',
       'Homewood Suites', 'Curio', 'Hilton', 'Embassy Suites', 'Canopy',
       'Hilton Grand Vacations', 'Conrad', 'Waldorf Astoria', 'Tapestry',
       'Hyatt Place', 'Hyatt Regency', 'Houte House', 'Andaz', 'MiRaval',
       'Destination or Unbound', 'Joie De Vivre', 'Grand Hyatt',
       'Hyatt Centric', 'Hyatt', 'Park Hyatt', 'Thompson',
       'Holiday Inn Express', 'Holiday Inn', 'Indigo', 'Candlewood',
       'Staybridge', 'EVEN', 'Crowne Plaza', 'Kimpton', 'AC Hotel',
       'Aloft', 'Courtyard', 'Delta Hotels', 'Fairfield', 'FourPoints',
       'JW Marriott', 'Le Meredian', 'Luxury Collection', 'Marriott',
       'Moxy', 'Renaissance', 'Residence Inn', 'Sheraton', 'Springhill',
       'St. Regis', 'TownPlace', 'Tribute', 'Westin', 'W Hotel',
       'Country Inn & Suites', 'Radisson', 'Park Inn', 'Microtel',
       'Days Inn', 'Super 8', 'La Quinta', 'Ramada', 'Baymont',
       'Howard Johnson', 'Wyndham Garden', 'Wingate', 'Travelodge',
       'Trademark', 'Hawthorn Suites', 'Wyndham Vacations', 'AmericInn',
       'TRYP', 'Club Wyndham', 'Wyndham Grand', 'Wyndham', 'Paris',
       'InterContinental']

In [115]:
brandlist.sort()

In [116]:
brandlist

['AC Hotel',
 'Aloft',
 'AmericInn',
 'Andaz',
 'Baymont',
 'Candlewood',
 'Canopy',
 'Club Wyndham',
 'Conrad',
 'Country Inn & Suites',
 'Courtyard',
 'Crowne Plaza',
 'Curio',
 'Days Inn',
 'Delta Hotels',
 'Destination or Unbound',
 'Doubletree',
 'EVEN',
 'Embassy Suites',
 'Fairfield',
 'FourPoints',
 'Grand Hyatt',
 'Hampton Inn',
 'Hawthorn Suites',
 'Hilton',
 'Hilton Garden Inn',
 'Hilton Grand Vacations',
 'Holiday Inn',
 'Holiday Inn Express',
 'Home2',
 'Homewood Suites',
 'Houte House',
 'Howard Johnson',
 'Hyatt',
 'Hyatt Centric',
 'Hyatt Place',
 'Hyatt Regency',
 'Indigo',
 'InterContinental',
 'JW Marriott',
 'Joie De Vivre',
 'Kimpton',
 'La Quinta',
 'Le Meredian',
 'Luxury Collection',
 'Marriott',
 'MiRaval',
 'Microtel',
 'Moxy',
 'Paris',
 'Park Hyatt',
 'Park Inn',
 'Radisson',
 'Ramada',
 'Renaissance',
 'Residence Inn',
 'Sheraton',
 'Springhill',
 'St. Regis',
 'Staybridge',
 'Super 8',
 'TRYP',
 'Tapestry',
 'Thompson',
 'TownPlace',
 'Trademark',
 'Travelodge',
 'Tribute',
 'Tru',
 'W Hotel',
 'Waldorf Astoria',
 'Westin',
 'Wingate',
 'Wyndham',
 'Wyndham Garden',
 'Wyndham Grand',
 'Wyndham Vacations']

In [117]:
Holiday Inn Express       2257
Hampton Inn               2165
Super 8                   1474
Days Inn                  1375
Fairfield                 1050
Courtyard                 1040
La Quinta                  888
Residence Inn              841
Hilton Garden Inn          675
Holiday Inn                593
Baymont                    501
Springhill                 500
Homewood Suites            471
Home2                      455
TownPlace                  448
Country Inn & Suites       446
Candlewood                 419
Marriott                   378
Doubletree                 350
Travelodge                 335
Hyatt Place                323
Ramada                     315
Microtel                   291
Staybridge                 289
Hilton                     242
Embassy Suites             236
AmericInn                  199
Tru                        190
Sheraton                   175
Wingate                    163
Howard Johnson             159
Aloft                      137
FourPoints                 131
Westin                     124
Crowne Plaza               114
Hawthorn Suites            101
Houte House                100
Hyatt Regency               97
Destination or Unbound      97
AC Hotel                    84
Renaissance                 81
Wyndham Vacations           81
Radisson                    81
Indigo                      69
Club Wyndham                67
Wyndham Garden              67
Kimpton                     66
Curio                       58
Delta Hotels                42
Trademark                   38
JW Marriott                 32
W Hotel                     28
Tribute                     28
InterContinental            25
Moxy                        23
Hyatt Centric               22
Le Meredian                 21
Hilton Grand Vacations      21
Hyatt                       20
Luxury Collection           19
Canopy                      19
EVEN                        18
Joie De Vivre               16
Grand Hyatt                 13
St. Regis                    9
TRYP                         9
Andaz                        9
Wyndham Grand                8
Thompson                     7
Park Hyatt                   6
Park Inn                     6
Conrad                       6
MiRaval                      3
Wyndham                      1
Tapestry                     1
Waldorf Astoria              1
Paris                        1

SyntaxError: invalid syntax (<ipython-input-117-c117f11d2b4d>, line 1)

In [118]:
classnumber = {'AC Hotel':3,
 'Aloft':3,
 'AmericInn':5,
 'Andaz':1,
 'Baymont':5,
 'Candlewood':5,
 'Canopy':2,
 'Club Wyndham':2,
 'Conrad':1,
 'Country Inn & Suites':4,
 'Courtyard':3,
 'Crowne Plaza':3,
 'Curio':2,
 'Days Inn':6,
 'Delta Hotels':3,
 'Destination or Unbound':1,
 'Doubletree':3,
 'EVEN':3,
 'Embassy Suites':2,
 'Fairfield':4,
 'FourPoints':3,
 'Grand Hyatt':1,
 'Hampton Inn':4,
 'Hawthorn Suites':5,
 'Hilton':2,
 'Hilton Garden Inn':3,
 'Hilton Grand Vacations':2,
 'Holiday Inn':4,
 'Holiday Inn Express':4,
 'Home2':4,
 'Homewood Suites':3,
 'Houte House':3,
 'Howard Johnson':6,
 'Hyatt':2,
 'Hyatt Centric':2,
 'Hyatt Place':3,
 'Hyatt Regency':2,
 'Indigo':2,
 'InterContinental':1,
 'JW Marriott':1,
 'Joie De Vivre':2,
 'Kimpton':2,
 'La Quinta':4,
 'Le Meredian':2,
 'Luxury Collection':1,
 'Marriott':2,
 'MiRaval':1,
 'Microtel':6,
 'Moxy':4,
 'Paris':2,
 'Park Hyatt':1,
 'Park Inn':4,
 'Radisson':3,
 'Ramada':5,
 'Renaissance':2,
 'Residence Inn':3,
 'Sheraton':2,
 'Springhill':3,
 'St. Regis':1,
 'Staybridge':3,
 'Super 8':6,
 'TRYP':4,
 'Tapestry':3,
 'Thompson':1,
 'TownPlace':4,
 'Trademark':4,
 'Travelodge':6,
 'Tribute':2,
 'Tru':5,
 'W Hotel':1,
 'Waldorf Astoria':1,
 'Westin':2,
 'Wingate':5,
 'Wyndham':3,
 'Wyndham Garden':4,
 'Wyndham Grand':2,
 'Wyndham Vacations':3}

In [119]:
merged_hotels3['class_id'] = merged_hotels3['brand']

In [120]:
merged_hotels3['class_id'] = merged_hotels3['class_id'].replace(classnumber)

In [121]:
merged_hotels3.head()

,rewards,brand,name,rating,description,street,city,state,postal,url,class_id
0,Hilton,Hampton Inn,Hampton Inn Alexander City,4,"We’re right off Highway 280, 25 minutes away f...",1551 Elkahatchee Road,Alexander City,AL,35010,https://hamptoninn3.hilton.com/en/hotels/alaba...,4
1,Hilton,Hampton Inn,Hampton Inn Wetumpka,5,"We’re on the banks of the Coosa River, a short...",350 South Main Street,Wetumpka,AL,36092,https://hamptoninn3.hilton.com/en/hotels/alaba...,4
2,Hilton,Hampton Inn,Hampton Inn Auburn,4,"We're off I-85, under 10 minutes from Chewacla...",2430 S. College St.,Auburn,AL,36832,https://hamptoninn3.hilton.com/en/hotels/alaba...,4
3,Hilton,Tru,Tru by Hilton Auburn,4,"Make this Tru by Hilton your own. We’ll help, ...",2411 W Pace Blvd,Auburn,AL,36830,https://tru3.hilton.com/en/hotels/alabama/tru-...,5
4,Hilton,Hilton Garden Inn,Hilton Garden Inn Auburn/Opelika,4,"Our hotel is just off I-85, minutes away from ...",2555 Hilton Garden Drive,Auburn,AL,36830,https://hiltongardeninn3.hilton.com/en/hotels/...,3

In [122]:
classcategory = {'AC Hotel':'Lifestyle, Boutique',
 'Aloft':'Lifestyle, Boutique',
 'AmericInn':'Budget',
 'Andaz':'Lifestyle, Boutique',
 'Baymont':'Budget',
 'Candlewood':'Extended-Stay, All-Suite',
 'Canopy':'Lifestyle, Boutique',
 'Club Wyndham':'Vacation Club, Condos, Villas',
 'Conrad':'Luxury',
 'Country Inn & Suites':'Limited-Service Mid-Scale',
 'Courtyard':'Full-Service Entry',
 'Crowne Plaza':'Full-Service Mid-Scale',
 'Curio':'Lifestyle, Boutique',
 'Days Inn':'Budget',
 'Delta Hotels':'Full-Service Entry',
 'Destination or Unbound':'Lifestyle, Boutique',
 'Doubletree':'Full-Service Mid-Scale',
 'EVEN':'Lifestyle, Boutique',
 'Embassy Suites':'Extended-Stay, All-Suite',
 'Fairfield':'Limited-Service Mid-Scale',
 'FourPoints':'Full-Service Entry',
 'Grand Hyatt':'Luxury',
 'Hampton Inn':'Limited-Service Mid-Scale',
 'Hawthorn Suites':'Extended-Stay, All-Suite',
 'Hilton':'Full-Service Upper-Scale',
 'Hilton Garden Inn':'Full-Service Entry',
 'Hilton Grand Vacations':'Vacation Club, Condos, Villas',
 'Holiday Inn':'Full-Service Mid-Scale',
 'Holiday Inn Express':'Limited-Service Mid-Scale',
 'Home2':'Extended-Stay, All-Suite',
 'Homewood Suites':'Extended-Stay, All-Suite',
 'Houte House':'Extended-Stay, All-Suite',
 'Howard Johnson':'Budget',
 'Hyatt':'Lifestyle, Boutique',
 'Hyatt Centric':'Lifestyle, Boutique',
 'Hyatt Place':'Limited-Service Mid-Scale',
 'Hyatt Regency':'Full-Service Upper-Scale',
 'Indigo':'Lifestyle, Boutique',
 'InterContinental':'Luxury',
 'JW Marriott':'Luxury',
 'Joie De Vivre':'Lifestyle, Boutique',
 'Kimpton':'Lifestyle, Boutique',
 'La Quinta':'Limited-Service Mid-Scale',
 'Le Meredian':'Lifestyle, Boutique',
 'Luxury Collection':'Luxury',
 'Marriott':'Full-Service Upper-Scale',
 'MiRaval':'Luxury',
 'Microtel':'Budget',
 'Moxy':'Lifestyle, Boutique',
 'Paris':'Full-Service Upper-Scale',
 'Park Hyatt':'Luxury',
 'Park Inn':'Limited-Service Mid-Scale',
 'Radisson':'Full-Service Entry',
 'Ramada':'Budget',
 'Renaissance':'Full-Service Upper-Scale',
 'Residence Inn':'Extended-Stay, All-Suite',
 'Sheraton':'Full-Service Upper-Scale',
 'Springhill':'Extended-Stay, All-Suite',
 'St. Regis':'Luxury',
 'Staybridge':'Extended-Stay, All-Suite',
 'Super 8':'Budget',
 'TRYP':'Lifestyle, Boutique',
 'Tapestry':'Lifestyle, Boutique',
 'Thompson':'Lifestyle, Boutique',
 'TownPlace':'Extended-Stay, All-Suite',
 'Trademark':'Lifestyle, Boutique',
 'Travelodge':'Budget',
 'Tribute':'Lifestyle, Boutique',
 'Tru':'Budget',
 'W Hotel':'Luxury',
 'Waldorf Astoria':'Luxury',
 'Westin':'Full-Service Upper-Scale',
 'Wingate':'Budget',
 'Wyndham':'Full-Service Entry',
 'Wyndham Garden':'Limited-Service Mid-Scale',
 'Wyndham Grand':'Full-Service Mid-Scale',
 'Wyndham Vacations':'Vacation Club, Condos, Villas'}

In [123]:
merged_hotels3['category'] = merged_hotels3['brand']

In [124]:
merged_hotels3['category'] = merged_hotels3['category'].replace(classcategory)

In [125]:
merged_hotels3['category'].value_counts()

Limited-Service Mid-Scale        7202
Budget                           5002
Extended-Stay, All-Suite         3860
Full-Service Entry               1970
Full-Service Upper-Scale         1098
Full-Service Mid-Scale           1090
Lifestyle, Boutique               742
Vacation Club, Condos, Villas     169
Luxury                            142
Name: category, dtype: int64

In [126]:
merged_hotels3['class_id'].value_counts()

4    8470
3    5279
6    3634
5    1888
2    1749
1     255
Name: class_id, dtype: int64

In [129]:
merged_hotels3 = merged_hotels3[~merged_hotels3['description'].isnull()]

In [132]:
merged_hotels3.dtypes

rewards        object
brand          object
name           object
rating         object
description    object
street         object
city           object
state          object
postal         object
url            object
class_id        int64
category       object
dtype: object

In [133]:
merged_hotels3.to_csv('all_hotels_cleaned.csv')